<template>
  <div>
    <div>
      <CCard>
        <CCardHeader>
          <strong>Application List </strong>
          <div class="text-right">
            <a
              class="btn btn-info btn-flat btn-social"
              style="color: #fff"
              @click="goBack"
              ><i class="fa fa-list"></i> List
            </a>
          </div>
        </CCardHeader>

        <CCardBody>
          <div v-if="!viewDetails">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    autocomplete="off"
                    v-model="externalFilterViewModel.title"
                    :class="{
                      input: true,
                      'is-danger': errors.has('filterName'),
                    }"
                    type="text"
                    class="form-control"
                    name="filterName"
                    placeholder="Search By Title"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-info" @click="clearFilter">
                  Cancel
                </button>
              </div>
            </div>
          </div>

          <div v-if="!viewDetails">
            <div v-if="studentList.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item, index) in studentList" :key="item.Id">
                    <th scope="row">{{ ++index }}</th>
                    <td>
                      <input
                        type="checkbox"
                        id="checkbox"
                        v-model="item.IsSortListed"
                        v-on:change="onChangeSelection(item)"
                        style="width: 20px; height: 20px"
                      />
                    </td>
                    <td>{{ item.FirstName }}</td>
                    <td>{{ item.LastName }}</td>
                    <td>
                      <a class="vue-kendo link-detail" title="Detail"
                        ><i
                          class="fa fa-eye fa-2x text-success cursor"
                          @click="goToStudentProfile(item.Id)"
                        ></i>
                      </a>
                      <a class="vue-kendo link-detail" title="Download">
                        <i
                          class="fa fa-cloud-download fa-2x text-success cursor"
                          @click="downloadResume(item.Id)"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-3" v-if="studentList.length > 0">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="saveSortListed"
                >
                  Save
                </button>
                <button type="button" class="btn btn-info" @click="goBack">
                  Cancel
                </button>
              </div>
            </div>

            <div v-else>No Student Available</div>
          </div>
          <div v-else>
            <CTabs variant="pills" vertical>
              <CTab active>
                <template slot="title">
                  <CIcon name="cil-calculator" /> Profile
                </template>

                <form
                  @submit.prevent="onSubmit"
                  novalidate=""
                  autocomplete="off"
                >
                  <div class="pull-right">
                    <span class="a-link" @click="downloadResumeFromDetail()">
                      Download Resume
                      <i class="fa fa-cloud-download text-success cursor"></i>
                    </span>
                  </div>

                  <div class="row mb-10 p-10 clear-fix">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.FirstName }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.LastName }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Permanent Address</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.PermanentAddress }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Current Address</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.CurrentAddress }}
                    </div>
                  </div>
                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.Gender }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile Number</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.MobileNumber }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Skills</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.Skills }}
                    </div>
                  </div>

                  <div class="row mb-10 p-10">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Objective</h6>
                    </div>
                    <div class="col-sm-9">
                      {{ vModel.StudentProfile.Objective }}
                    </div>
                  </div>
                </form>
              </CTab>
            </CTabs>
          </div>
        </CCardBody>
      </CCard>
    </div>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import moment from "moment";
import CommonService from "../../services/common";
import FileSaver from "file-saver";
export default {
  name: "Job",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/job";
  },

  beforeRouteEnter(to, from, next) {
    var promises = [];

    if (to.params.id !== undefined) {
      var name = "";
      promises.push(
        CommonService.getById("job/" + to.params.id + "/applications/null")
      );

      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (to.params.id !== undefined) {
            vm.paramsId = to.params.id;
            if (responses && responses[0].status == 200) {
              vm.studentList = responses[0].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      paramsId: "",
      viewDetails: false,
      externalFilterViewModel: {
        title: null,
      },
      studentList: [],
      vModel: {},
      studentId: "",
    };
  },

  methods: {
    clearFilter() {
      this.externalFilterViewModel.title = "";
      //this.onFilterSubmit();
    },

    goToStudentProfile(id) {
      this.studentId = id;
      var url = `student/${id}/details`;
      this.$http.get(url).then(
        (response) => {
          this.vModel = response.body.Content;
          this.viewDetails = true;
        },
        (errors) => {
          this.isDataprocessing = false;
        }
      );
    },

    downloadResumeFromDetail() {
      this.downloadResume(this.studentId);
    },
    downloadResume(id) {
      var url = `student/${id}/downloadresume`;
      this.$http.get(url, { responseType: "arraybuffer" }).then(
        (response) => {
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = "Resume.pdf";
          link.click();
        },
        (errors) => {}
      );
    },

    saveSortListed() {
      var model = {
        SendEmail: true,
        StudentList: this.studentList,
      };
      var url = `job/${this.paramsId}/sortlist`;
      this.$http.post(url, model).then(
        (response) => {
          this.$toast.success(response.data.Message || "Success");
        },
        (errors) => {
          this.isDataprocessing = false;
        }
      );
    },

    onChangeSelection(student) {
      if (student.IsEmailSent) {
        kendo.confirm("Are you sure that you want to change the status?").then(
          function () {
           
          },
          function () {
               student.IsSortListed = !student.IsSortListed;
          }
        );
      }
    },
  },
};
</script>
<style >
textarea {
  resize: none;
}
a {
  display: inline-block;
  padding: 0 5px;
}
</style>