<template>
  <div>
    <mode :url="url" :mode="mode" />
    <div v-if="mode == 'add' || mode == 'edit'">
      <CCard>
        <CCardHeader>
          <strong>Job </strong>
        </CCardHeader>
        <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
          <CCardBody>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Title </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Title"
                    v-validate="'required'"
                    data-vv-as="Title"
                    :class="{ input: true, 'is-danger': errors.has('Title') }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Title"
                  />
                  <div v-show="errors.has('Title')" class="help is-danger">
                    {{ errors.first("Title") }}
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>
                    <strong>Degree</strong>
                    <span class="text-red">*</span>
                  </label>
                  <div class="clearfix"></div>

                  <kendo-dropdownlist
                    name="Degree"
                    v-if="DegreeCollection"
                    v-validate="'required'"
                    :data-source="DegreeCollection"
                    class="form-control"
                    :class="{ input: true, 'is-danger': errors.has('Degree') }"
                    v-model="vModel.DegreeId"
                    :data-text-field="'Text'"
                    :data-value-field="'Id'"
                    :option-label="'Please Select Degree'"
                  >
                  </kendo-dropdownlist>

                  <div v-show="errors.has('Degree')" class="help is-danger">
                    {{ errors.first("Degree") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Salary </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Salary"
                    v-validate="'required'"
                    data-vv-as="Salary"
                    :class="{
                      input: true,
                      'is-danger': errors.has('Salary'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Salary"
                  />
                  <div v-show="errors.has('Salary')" class="help is-danger">
                    {{ errors.first("Salary") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">No Of Vacancy </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.NoOfVacancy"
                    v-validate="'required'"
                    data-vv-as="No Of Vacancy"
                    :class="{
                      input: true,
                      'is-danger': errors.has('NoOfVacancy'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="NoOfVacancy"
                  />
                  <div
                    v-show="errors.has('NoOfVacancy')"
                    class="help is-danger"
                  >
                    {{ errors.first("NoOfVacancy") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Eligibility Age </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.EligibilityAge"
                    v-validate="'required'"
                    data-vv-as="Eligibility Age"
                    :class="{
                      input: true,
                      'is-danger': errors.has('EligibilityAge'),
                    }"
                    type="number"
                    class="form-control"
                    placeholder=""
                    name="EligibilityAge"
                  />
                  <div
                    v-show="errors.has('EligibilityAge')"
                    class="help is-danger"
                  >
                    {{ errors.first("EligibilityAge") }}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Eligibility Nationality </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.EligibilityNationality"
                    v-validate="'required'"
                    data-vv-as="Eligibility Nationality"
                    :class="{
                      input: true,
                      'is-danger': errors.has('EligibilityNationality'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="EligibilityNationality"
                  />
                  <div
                    v-show="errors.has('EligibilityNationality')"
                    class="help is-danger"
                  >
                    {{ errors.first("EligibilityNationality") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Job Type </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.JobType"
                    v-validate="'required'"
                    data-vv-as="Job Type"
                    :class="{
                      input: true,
                      'is-danger': errors.has('JobType'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="JobType"
                  />
                  <div v-show="errors.has('JobType')" class="help is-danger">
                    {{ errors.first("JobType") }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="startDate">
                    Date Published
                    <span class="text-red">*</span>
                  </label>
                  <kendo-datepicker
                    ref="start"
                    id="DatePublished"
                    name="DatePublished"
                    v-model="vModel.DatePublished"
                    data-vv-as="Date Published"
                    v-validate="'required'"
                    :class="{
                      input: true,
                      'form-control': true,
                      'is-danger': errors.has('DatePublished'),
                    }"
                  >
                  </kendo-datepicker>
                  <div
                    v-show="errors.has('DatePublished')"
                    class="help is-danger"
                  >
                    {{ errors.first("DatePublished") }}
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="EndDate">
                    End Date
                    <span class="text-red">*</span>
                  </label>
                  <kendo-datepicker
                    ref="EndDate"
                    id="EndDate"
                    name="EndDate"
                    v-model="vModel.EndDate"
                    data-vv-as="End Date"
                    v-validate="'required'"
                    :class="{
                      input: true,
                      'form-control': true,
                      'is-danger': errors.has('EndDate'),
                    }"
                  >
                  </kendo-datepicker>
                  <div v-show="errors.has('EndDate')" class="help is-danger">
                    {{ errors.first("EndDate") }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group required">
                  <label class="control-label">Requirements </label>
                  <textarea
                    rows="6"
                    autocomplete="off"
                    v-model="vModel.Requirements"
                    v-validate="'required'"
                    data-vv-as="Requirements"
                    :class="{
                      input: true,
                      'is-danger': errors.has('Requirements'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Requirements"
                  >
                  </textarea>
                  <div
                    v-show="errors.has('Requirements')"
                    class="help is-danger"
                  >
                    {{ errors.first("Requirements") }}
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group required">
                  <label class="control-label">Job Description </label>
                  <textarea
                    rows="6"
                    autocomplete="off"
                    v-model="vModel.JobDescription"
                    v-validate="'required'"
                    data-vv-as="Job Description"
                    :class="{
                      input: true,
                      'is-danger': errors.has('JobDescription'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="JobDescription"
                  >
                  </textarea>
                  <div
                    v-show="errors.has('JobDescription')"
                    class="help is-danger"
                  >
                    {{ errors.first("JobDescription") }}
                  </div>
                </div>
              </div>
            </div>
          </CCardBody>
          <CCardFooter>
            <CRow class="text-center">
              <action v-on:oncancel="onCancel" :mode="mode" />
            </CRow>
          </CCardFooter>
        </form>
      </CCard>
    </div>

    <div v-else-if="mode === undefined">
      <kendo-grid
        :data-source="kendoDataSource"
        :columns="columns"
        :sortable="true"
        :pageable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
      </kendo-grid>
    </div>

    <div v-else-if="mode === 'detail'">
      <CCard>
        <CCardHeader >
          <strong>Job Detail </strong>
          <div class="pull-right"> 
             <strong>Views: </strong>{{vModel.ViewCount}}
             <a
             
                class="a-link ml-5"
                @click="goToAppliedStudent"
                > View Application
            </a>
          </div>
        </CCardHeader>
 
          <CCardBody>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5 text-bold">Title</div>
                    <div class="col-md-1">:</div>

                    <label class="col-md-6">{{ vModel.Title }}</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5 text-bold">No Of Vacancy</div>
                    <div class="col-md-1">:</div>
                    <label class="col-md-6">{{ vModel.NoOfVacancy }}</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5 text-bold">Salary</div>
                    <div class="col-md-1">:</div>
                    <label class="col-md-6">{{ vModel.Salary }}</label>
                  </div>
                </div>
              </div>

               <div class="col-sm-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5 text-bold">End Date</div>
                    <div class="col-md-1">:</div>
                    <label class="col-md-6">{{ customDateFormat(vModel.EndDate) }}</label>
                  </div>
                </div>
              </div>
            </div>

         <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Job Description :</div>
                  <!-- <div class="col-md-1">:</div> -->

                  <label class="col-md-12">{{
                    vModel.JobDescription
                  }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Requirements : </div>
                  <!-- <div class="col-md-1">:</div> -->

                  <label class="col-md-12">{{ vModel.Requirements }}</label>
                </div>
              </div>
            </div>
          </div>
          </CCardBody>
     
      </CCard>
    </div>

      
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import moment from "moment";
import CommonService from "../../services/common";
export default {
  name: "Job",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/job";
    this.url.list = "job/getallbytenant";

    this.url.addUpdateDelet = "job";
    this.url.detail = "job/detail";

    this.url.redirectUrl = "/job";
    this.url.add = "/job/add";
    this.url.edit = "/job/edit";
     this.url.applications = "/job/applications";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(CommonService.getById("degree/list"));
      if (to.params.id !== undefined) {
       
        promises.push(CommonService.getById("job/" + to.params.id));
      }
      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (responses && responses[0].status == 200) {
            vm.DegreeCollection = responses[0].body.Content;
          }
          if (to.params.id !== undefined) {
             vm.paramsId = to.params.id;
            if (responses && responses[1].status == 200) {
              vm.vModel = responses[1].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      paramsId:'',
      DegreeCollection: "",
      vModel: {
        Title: "",
        DatePublished: "",
        EndDate: "",
        Salary: "",
        Requirements: "",
        DegreeId: "",
        EligibilityAge: "",
        EligibilityNationality: "",
        JobType: "",
        JobDescription: "",
        NoOfVacancy: "",
      },

      columns: [
        {
          field: "Title",
          title: "Title",
          type: "string",
          width: "200px",
        },

        {
          field: "DatePublished",
          title: "Start Date",
          template: function (e) {
            return e.DatePublished == null
              ? ""
              : kendo.toString(
                  kendo.parseDate(e.DatePublished, "yyyy-MM-dd"),
                  "MM/dd/yyyy"
                );
          },
          width: "200px",
        },
        {
          field: "EndDate",
          title: "End Date",

          width: "200px",
          template: function (e) {
            return e.EndDate == null
              ? ""
              : kendo.toString(
                  kendo.parseDate(e.EndDate, "yyyy-MM-dd"),
                  "MM/dd/yyyy"
                );
          },
        },

        {
          title: "Action",
          width: "200px",
          template:
            '<a id="edit-${Id}" class="vue-kendo link-edit" title="Edit" >' +
            '<i class="fa fa-edit fa-2x text-success cursor" data-item="${Id}"></i> ' +
            "</a>" +
            '<a id="view-${Id}" class="vue-kendo link-detail" title="View" >' +
            '<i class="fa fa-eye fa-2x text-success cursor" data-item="${Id}"></i> ' +
            "</a>" +
            '<a class="vue-kendo link-delete" title="Delete">' +
            '<i class="fa fa-trash fa-2x text-danger cursor" data-item="${Id}"></i> ' +
            "</a>",
        },
      ],
    };
  },

  methods: {
      customDateFormat: function(date) {
      if (date) {
         return moment(date, "YYYY-MM-DD").format("MMMM D, YYYY");
      }
  },
  goToAppliedStudent: function(){
        this.$router.push(this.url.applications + "/" + this.paramsId);
  }
  }
}
</script>
<style >
textarea {
  resize: none;
}
</style>