<template>
  <div>
    <mode :url="url" :mode="mode" />
    <div v-if="mode !== undefined">
      <CCard>
        <CCardHeader>
          <strong>Faculty </strong>
        </CCardHeader>
        <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
          <CCardBody>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Name </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Name"
                    v-validate="'required'"
                    data-vv-as="Name"
                    :class="{ input: true, 'is-danger': errors.has('Name') }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Name"
                  />
                  <div v-show="errors.has('Name')" class="help is-danger">
                    {{ errors.first("Name") }}
                  </div>
                </div>
              </div>
              

             
                
            
            </div>
          </CCardBody>
          <CCardFooter>
            <CRow class="text-center">
              <action v-on:oncancel="onCancel" :mode="mode" />
            </CRow>
          </CCardFooter>
        </form>
      </CCard>
    </div>

    <div v-else-if="mode === undefined">
      <kendo-grid
        :data-source="kendoDataSource"
        :columns="columns"
        :sortable="true"
        :pageable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
      </kendo-grid>
    </div>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "Faculty",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/faculty";
    this.url.list = "faculty/getall";

 
    this.url.addUpdateDelet = "faculty";
    this.url.detail = "faculty/detail";

    this.url.redirectUrl = "/faculty";
    this.url.add = "/faculty/add";
    this.url.edit = "/faculty/edit";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      if (to.params.id !== undefined) {
        promises.push(CommonService.getById("faculty/" + to.params.id));
      }
      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (to.params.id !== undefined) {
            if (responses && responses[0].status == 200) {
              vm.vModel = responses[0].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      vModel: {
        Name: "",
      },

      columns: [
        {
          field: "Name",
          title: "Name",
          type: "string",
          width: "200px",
        },
       
        {
          title: "Action",
          width: "200px",
          template:
            '<a id="edit-${Id}" class="vue-kendo link-edit" title="Edit" >' +
            '<i class="fa fa-edit fa-2x text-success cursor" data-item="${Id}"></i> ' +
            "</a>" +
            '<a class="vue-kendo link-delete" title="Delete">' +
            '<i class="fa fa-trash fa-2x text-danger cursor" data-item="${Id}"></i> ' +
            "</a>",
        },
      ],
    };
  },

  methods: {},
};
</script>
