<template>
  <div>
    <mode :url="url" :mode="mode" />
    <div v-if="mode !== undefined">
      <CCard>
        <CCardHeader>
          <strong>Placement </strong>
        </CCardHeader>
        <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
          <CCardBody>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Name </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Name"
                    v-validate="'required'"
                    data-vv-as="Name"
                    :class="{ input: true, 'is-danger': errors.has('Name') }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Name"
                  />
                  <div v-show="errors.has('Name')" class="help is-danger">
                    {{ errors.first("Name") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Description </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Description"
                    v-validate="'required'"
                    data-vv-as="Description"
                    :class="{
                      input: true,
                      'is-danger': errors.has('Description'),
                    }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Description"
                  />
                  <div
                    v-show="errors.has('Description')"
                    class="help is-danger"
                  >
                    {{ errors.first("Description") }}
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="startDate">
                    Start Date
                    <span class="text-red">*</span>
                  </label>
                  <kendo-datepicker
                    ref="start"
                    id="startdate"
                    name="startdate"
                    v-model="vModel.StartDate"
                    data-vv-as="Start Date"
                    v-validate="'required'"
                    :class="{
                      input: true,
                      'form-control': true,
                      'is-danger': errors.has('startdate'),
                    }"
                  >
                  </kendo-datepicker>
                  <div v-show="errors.has('startdate')" class="help is-danger">
                    {{ errors.first("startdate") }}
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="expireDate">
                    Expire Date
                    <span class="text-red">*</span>
                  </label>
                  <kendo-datepicker
                    ref="expireDate"
                    id="expireDate"
                    name="expireDate"
                    v-model="vModel.ExpireDate"
                    data-vv-as="Expire Date"
                    v-validate="'required'"
                    :class="{
                      input: true,
                      'form-control': true,
                      'is-danger': errors.has('expireDate'),
                    }"
                  >
                  </kendo-datepicker>
                  <div v-show="errors.has('expireDate')" class="help is-danger">
                    {{ errors.first("expireDate") }}
                  </div>
                </div>
              </div>
            </div>
          </CCardBody>
          <CCardFooter>
            <CRow class="text-center">
              <action v-on:oncancel="onCancel" :mode="mode" />
            </CRow>
          </CCardFooter>
        </form>
      </CCard>
    </div>

    <div v-else-if="mode === undefined">
      <kendo-grid
        :data-source="kendoDataSource"
        :columns="columns"
        :sortable="true"
        :pageable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
      </kendo-grid>
    </div>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "Placement",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/placement";
    this.url.list = "placement/getall";

    this.url.addUpdateDelet = "placement";
    this.url.detail = "placement/detail";

    this.url.redirectUrl = "/placement";
    this.url.add = "/placement/add";
    this.url.edit = "/placement/edit";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      if (to.params.id !== undefined) {
        promises.push(CommonService.getById("placement/" + to.params.id));
      }
      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (to.params.id !== undefined) {
            if (responses && responses[0].status == 200) {
              vm.vModel = responses[0].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      vModel: {
        Name: "",
        Description: "",
        StartDate: "",
        ExpireDate: "",
      },

      columns: [
        {
          field: "Name",
          title: "Name",
          type: "string",
          width: "200px",
        },
        {
          field: "Description",
          title: "Description",
          type: "string",
          width: "200px",
        },
        {
          field: "StartDate",
          title: "Start Date",
          template: function (e) {
            return e.StartDate == null
              ? ""
              : kendo.toString(
                  kendo.parseDate(e.StartDate, "yyyy-MM-dd"),
                  "MM/dd/yyyy"
                );
          },
          width: "200px",
        },
        {
          field: "ExpireDate",
          title: "Expiry Date",

          width: "200px",
          template: function (e) {
            return e.ExpireDate == null
              ? ""
              : kendo.toString(
                  kendo.parseDate(e.ExpireDate, "yyyy-MM-dd"),
                  "MM/dd/yyyy"
                );
          },
        },

        {
          title: "Action",
          width: "200px",
          template:
            '<a id="edit-${Id}" class="vue-kendo link-edit" title="Edit" >' +
            '<i class="fa fa-edit fa-2x text-success cursor" data-item="${Id}"></i> ' +
            "</a>" +
            '<a class="vue-kendo link-delete" title="Delete">' +
            '<i class="fa fa-trash fa-2x text-danger cursor" data-item="${Id}"></i> ' +
            "</a>",
        },
      ],
    };
  },

  methods: {},
};
</script>
