<template>
  <div>
    <mode :url="url" :mode="mode" />
    <div v-if="mode !== undefined">
      <CCard>
        <CCardHeader>
          <strong>University </strong>
        </CCardHeader>
        <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
          <CCardBody>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Name </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Name"
                    v-validate="'required'"
                    data-vv-as="Name"
                    :class="{ input: true, 'is-danger': errors.has('Name') }"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Name"
                  />
                  <div v-show="errors.has('Name')" class="help is-danger">
                    {{ errors.first("Name") }}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Email Address </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Email"
                    v-validate="'required|email'"
                    data-vv-as="Email Address"
                    :class="{ input: true, 'is-danger': errors.has('Email') }"
                    type="email"
                    class="form-control"
                    placeholder=""
                    name="Email"
                  />
                  <div v-show="errors.has('Email')" class="help is-danger">
                    {{ errors.first("Email") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Address </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Address"
                    v-validate="'required'"
                    data-vv-as="Address"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Address"
                  />
                  <div v-show="errors.has('Address')" class="help is-danger">
                    {{ errors.first("Address") }}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Website </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.Website"
                    v-validate="'required|url'"
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="Website"
                  />
                  <div v-show="errors.has('Website')" class="help is-danger">
                    {{ errors.first("Website") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group required">
                  <label class="control-label">Primary Contact Name </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.PrimaryContactName"
                    v-validate="'required'"
                    type="text"
                    class="form-control"
                    placeholder=""
                    data-vv-as="Primary Contact Name"
                    name="PrimaryContactName"
                  />
                  <div
                    v-show="errors.has('PrimaryContactName')"
                    class="help is-danger"
                  >
                    {{ errors.first("PrimaryContactName") }}
                  </div>
                </div>
              </div>

              <div class="col-md-4" v-if="mode == 'add'">
                <div class="form-group required">
                  <label class="control-label">Primary Contact Email </label>
                  <input
                    autocomplete="off"
                    v-model="vModel.PrimaryContactEmail"
                    v-validate="'required|email'"
                    type="text"
                    class="form-control"
                    placeholder=""
                    data-vv-as="Primary Contact Email"
                    name="PrimaryContactEmail"
                  />
                  <div
                    v-show="errors.has('PrimaryContactEmail')"
                    class="help is-danger"
                  >
                    {{ errors.first("PrimaryContactEmail") }}
                  </div>
                </div>
              </div>
            </div>
          </CCardBody>
          <CCardFooter>
            <CRow class="text-center">
              <action v-on:oncancel="onCancel" :mode="mode" />
            </CRow>
          </CCardFooter>
        </form>
      </CCard>
    </div>

    <div v-else-if="mode === undefined">
      <kendo-grid
        :data-source="kendoDataSource"
        :columns="columns"
        :sortable="true"
        :pageable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
      </kendo-grid>
    </div>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "University",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/university";
    this.url.list = "university/getall";

    this.url.addUpdateDelet = "university";
    this.url.detail = "university/detail";

    this.url.redirectUrl = "/university";
    this.url.add = "/university/add";
    this.url.edit = "/university/edit";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      if (to.params.id !== undefined) {
        promises.push(CommonService.getById("university/" + to.params.id));
      }
      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (to.params.id !== undefined) {
            if (responses && responses[0].status == 200) {
              vm.vModel = responses[0].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      vModel: {
        Email: "",
        Name: "",
        Address: "",
        Website: "",
        PrimaryContactName: "",
        PrimaryContactEmail: "",
      },

      columns: [
        {
          field: "Name",
          title: "Name",
          type: "string",
          width: "200px",
        },
        {
          field: "Email",
          title: "Email",
          type: "string",
          width: "200px",
        },
        {
          field: "Address",
          title: "Address",
          type: "string",
          width: "200px",
        },
        {
          field: "Website",
          title: "Website",
          type: "string",
          width: "200px",
        },
        {
          title: "Action",
          width: "200px",
          template: function (dataItem) {
            var html =
              '<a id="edit-'+dataItem.Id +'" class="vue-kendo link-edit" title="Edit" >' +
              '<i class="fa fa-2x fa-edit text-success cursor" data-item="'+dataItem.Id +'"></i> ' +
              "</a>" +
              '<a class="vue-kendo link-delete" title="Delete">' +
              '<i class="fa fa-2x fa-trash text-danger cursor" data-item="'+dataItem.Id +'""></i> ' +
              "</a>";
            if (dataItem.IsActive) {
              html +=
                '<a id="active-'+dataItem.Id +'" class="vue-kendo link-active" title="DeActivate" >' +
                '<i class="fa fa-2x fa-user-secret cursor" data-item="'+dataItem.Id +'""></i> ' +
                "</a>";
            } else {
              html +=
                '<a id="active-'+dataItem.Id +'" class="vue-kendo link-active" title=" Activate" >' +
                '<i class="fa fa-2x fa-user-times cursor" data-item="'+dataItem.Id +'""></i> ' +
                "</a>";
            }

            if (dataItem.IsApproved) {
              html +=
                '<a id="approve-'+dataItem.Id +'" class="vue-kendo link-approve" title="Approve" >' +
                '<i class="fa fa-2x fa-lock cursor" data-item="'+dataItem.Id +'""></i> ' +
                "</a>";
            } else {
              html +=
                '<a id="approve-'+dataItem.Id +'" class="vue-kendo link-approve" title="Approve" >' +
                '<i class="fa fa-2x fa-unlock cursor" data-item="'+dataItem.Id +'""></i> ' +
                "</a>";
            }
            return html;
          },
        },
      ],
    };
  },

  methods: {},
};
</script>
