<template>
  <div>
    <!-- <WidgetsDropdown/> -->
    <div cass="form-actions" style="margin-bottom: 1rem">
      <div class="text-right">
        <a
          class="btn btn-info btn-flat btn-social active"
          style="color: #fff"
          @click="detail = !detail"
        >
          {{ detail ? "Edit" : "Back" }}
        </a>
      </div>
    </div>
    <CCard>
      <CCardHeader>
        <strong>Email Template </strong>
      </CCardHeader>

      <CCardBody>
        <form @submit.prevent="saveEmailContent" novalidate autocomplete="off">
          <div v-if="detail">
            <!-- <ckeditor value="Hello, World!"></ckeditor> -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label bold"
                    >Selected Student Template</label
                  >
                  <div id="system-info-content">
                    <span><p>{{vModel.SelectedEmailContent | striphtml}}</p></span>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label bold">
                    Not Selected Student Template</label
                  >
                  <div id="system-info-content">
                    <span><p>{{vModel.NotSelectedEmailContent| striphtml}}</p></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label bold"
                  >Selected Student Template</label
                >
                <div id="system-info-content">
                  <ckeditor v-model="vModel.SelectedEmailContent"></ckeditor>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label bold">
                  Not Selected Student Template</label
                >
                <div id="system-info-content">
                  <ckeditor v-model="vModel.NotSelectedEmailContent"></ckeditor>
                </div>
              </div>
            </div>
                   <button
                  type="button"
                  class="btn btn-primary"
                  @click="saveEmailContent"
                >
                  Save
                </button>
                <button type="button" class="btn btn-info" @click="cancel">
                  Cancel
                </button>
          </div>
        </form>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import CommonService from "../../services/common";
export default {
  name: "EmailTemplate",
  components: {},
  data() {
    return {
      detail: true,
      vModel: {
        SelectedEmailContent: "",
        NotSelectedEmailContent: "",
      },
    };
  },

  mounted() {
    this.getEmailContent();
  },

  methods: {
    getEmailContent() {
      var promises = [];
      promises.push(CommonService.getById("settings/emailtemplate"));

      Promise.all(promises).then((responses) => {
        if (responses && responses[0].status == 200) {
          this.vModel = responses[0].body.Content;
        }
      });
    },

    saveEmailContent() {
      this.$validator.validateAll().then((result) => {
        if (result ) {
          this.$http.post("settings/emailtemplate", this.vModel).then(
            (response) => {
              this.isDataprocessing = false;
              this.$toast.success(response.data.Message || "Success");
              this.detail = true;
              this.getEmailContent();
            },
            (errors) => {
              this.isDataprocessing = false;
            }
          );
        }
      });
    },

    cancel() {
      this.detail = true;
     this.getEmailContent();
    },
  },
};
</script>

<style >
#system-info-content {
  border: 2px solid #ededed;
  border-radius: 8px;
  padding: 12px;
}
</style>