<template>
<div>
    <ProfileTab />
    <CCard>
        <CCardHeader> Education </CCardHeader>
        <CCardBody>

            <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">

                <div v-if="vModel.StudentEducationDetails.length < 1">

                    <div>No Education Details</div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-link mt-1" @click="addEducationDetails()">
                                <i class="fa fa-plus"></i> Add Education
                            </span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <span v-if="!isEdit" class="pull-right text-link" @click="editForm()">
                        Edit</span>

                    <div v-if="!isEdit">
                        <div v-for="(item, index) of vModel.StudentEducationDetails" :key="item.Id">
                            <div class="row mb-10 p-10 clear-fix">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Degree</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.Degree }}
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Faculty</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.Faculty }}
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Institute</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.Institute }}
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.StartDate | customDateFormat }}
                                </div>
                            </div>
                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.EndDate | customDateFormat }}
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Grading Type</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.GradingType }}
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Marks</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.Marks }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-else>
                        <div v-for="(item, index) of vModel.StudentEducationDetails" :key="item.Id">
                            <div class="row mb-10 p-10 clear-fix">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Degree</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="item.Degree" placeholder="Degree" class="form-control" v-validate="'required'" type="text" :class="{
                      input: true,
                      'is-danger': errors.has('Degree' + index),
                    }" data-vv-as="Degree" :name="'Degree' + index" />

                                    <div v-show="errors.has('Degree' + index)" class="help is-danger">
                                        {{ errors.first("Degree" + index) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Faculty</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="item.Faculty" placeholder="Faculty" class="form-control" v-validate="'required'" type="text" :class="{
                      input: true,
                      'is-danger': errors.has('Faculty' + index),
                    }" data-vv-as="Faculty" :name="'Faculty' + index" />
                                    <div v-show="errors.has('Faculty' + index)" class="help is-danger">
                                        {{ errors.first("Faculty" + index) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Institute</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="item.Institute" placeholder="Institute" class="form-control" v-validate="'required'" type="text" :class="{
                      input: true,
                      'is-danger': errors.has('Institute' + index),
                    }" data-vv-as="Institute" :name="'Institute' + index" />
                                    <div v-show="errors.has('Institute' + index)" class="help is-danger">
                                        {{ errors.first("Institute" + index) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    <date-picker :ref="'startDate_' + index" :name="'startDate_' + index" v-model="item.StartDate" data-vv-as="Start Date" :class="{
                      input: true,
                      'is-danger': errors.has('startDate_' + index),
                    }" v-validate="'required'" valueType="format"></date-picker>
                                    <div v-show="errors.has('startDate_' + index)" class="help is-danger"></div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    <date-picker v-bind="{ name: 'enddate' + index }" v-model="item.EndDate" data-vv-as="End Date" :class="{
                      input: true,
                      'is-danger': errors.has('enddate' + index),
                    }" v-validate="'required'" valueType="format"></date-picker>

                                    <div v-show="errors.has('enddate' + index)" class="help is-danger">
                                        {{ errors.first("enddate" + index) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Grading Type</h6>
                                </div>
                                <div class="col-sm-9" v-if="isEdit">
                                    <div>
                                        <select v-model="item.GradingTypeId" v-select="item.GradingTypeId" data-vv-as="Grading Type" v-validate="'required'" type="text" :class="{
                        input: true,
                        'is-danger': errors.has('GradingTypeId' + index),
                      }" :name="'GradingTypeId' + index" class="form-control col-md-4">
                                            <option value="">Select District</option>
                                            <option v-for="listItem in GradingCollection" v-bind:value="listItem.Id">
                                                {{ listItem.Text }}
                                            </option>
                                        </select>

                                        <div v-show="errors.has('GradingTypeId' + index)" class="help is-danger">
                                            {{ errors.first("GradingTypeId" + index) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Marks</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="item.Marks" placeholder="Marks" class="form-control" v-validate="'required'" type="number" :class="{
                      input: true,
                      'is-danger': errors.has('Marks' + index),
                    }" data-vv-as="Marks" :name="'Marks' + index" />
                                    <div v-show="errors.has('Marks' + index)" class="help is-danger">
                                        {{ errors.first("Marks" + index) }}
                                    </div>
                                </div>
                            </div>
                            <a v-if="vModel.StudentEducationDetails.length > 1" href="javascript:void(0)" @click="removeEducationDetails(item)"><i class="fa fa-trash fa-2x"></i></a>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="text-link mt-1" @click="addEducationDetails()">
                                    <i class="fa fa-plus"></i> Add Education
                                </span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" @click="cancelForm" class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </CCardBody>
    </CCard>
</div>
</template>

<script>
import CommonService from "../../../services/common";
import ProfileTab from "../../../shared/ProfileTab";
export default {
    name: "Education",
    components: {
        ProfileTab,
    },

    data() {
        return {
            GradingCollection: [{
                    Id: 1,
                    Text: "CGPA",
                },
                {
                    Id: 2,
                    Text: "PERCENTAGE",
                },
            ],
            isEdit: false,
            tabindex: 0,
            vModel: {
                StudentProfile: {
                    FirstName: "",
                    LastName: "",
                    Address: "",
                    Website: "",
                    PrimaryContactName: "",
                    Skills: "",
                },
                StudentEducationDetails: [],
                StudentExperienceDetails: [],
            },
            user: {
                Name: "",
                Address: "",
            },
        };
    },
    mounted() {
        this.getStudentDetails();
    },

    methods: {
        getStudentDetails() {
            var promises = [];
            promises.push(CommonService.getById("profile/get"));

            Promise.all(promises).then((responses) => {
                if (responses && responses[0].status == 200) {
                    this.vModel = responses[0].body.Content;
                }
            });
        },

        editForm: function (e) {
            this.isEdit = true;
        },

        cancelForm: function (e) {
            this.isEdit = false;
            this.getStudentDetails();
        },

        onSubmit() {
            var self = this;
            var url = "profile/update";
            self.vModel.Action = 1;
            self.$validator.validateAll().then((result) => {
                if (result) {
                    this.$http.post(url, self.vModel).then(
                        (response) => {
                            this.$toast.success(response.data.Message || "Success");
                            this.getStudentDetails();
                            this.isEdit = false;
                        },
                        (errors) => {
                            this.isDataprocessing = false;
                        }
                    );
                }
            });
        },

        addEducationDetails() {
            this.isEdit = true;
            this.vModel.StudentEducationDetails.push({
                Id: 0,
                Degree: null,
                Faculty: null,
                Institute: null,
                StartDate: null,
                EndDate: null,
                GradingTypeId: null,
                Marks: null,
            });
        },
        removeEducationDetails(item) {
            var index = this.vModel.StudentEducationDetails.indexOf(item);
            if (index > -1) {
                this.vModel.StudentEducationDetails.splice(index, 1);
            }
        },
    },
};
</script>
