<template>
<div>
    <ProfileTab />
    <CCard>
        <CCardHeader> Education </CCardHeader>
        <CCardBody>

            <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
                <div v-if="vModel.StudentExperienceDetails.length < 1">
                    <div>No Experience Details</div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-link mt-1" @click="addExperienceDetails()">
                                <i class="fa fa-plus"></i> Add Experience
                            </span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <span v-if="!isEdit" class="pull-right text-link" @click="editForm()">
                        Edit</span>
                    <div v-if="!isEdit">
                        <div v-for="(item, index) of vModel.StudentExperienceDetails" :key="item.Id">
                            <div class="row mb-10 p-10 clear-fix">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Company Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.CompanyName }}
                                </div>

                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Job Title</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.JobTitle }}

                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Job Type</h6>
                                </div>
                                <div class="col-sm-9">

                                    {{ item.JobType }}

                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Currently Working here</h6>
                                </div>
                                <div class="col-sm-9">

                                    {{item.IsCurrentJob? "Yes": "No" }}

                                </div>
                            </div>
                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9">

                                    {{item.StartDate | customDateFormat }}

                                </div>
                            </div>
                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{ item.EndDate| customDateFormat }}

                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Responsibilities</h6>
                                </div>
                                <div class="col-sm-9">

                                    {{ item.Responsibilities }}

                                </div>
                            </div>

                        </div>
                    </div>

                    <div v-else>
                        <div v-for="(item, index) of vModel.StudentExperienceDetails" :key="item.Id">
                            <div class="row mb-10 p-10 clear-fix">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Company Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="item.CompanyName" placeholder="CompanyName" class="form-control" v-validate="'required'" type="text" :class="{
                            input: true,
                            'is-danger': errors.has('CompanyName' + index),
                            }" data-vv-as="CompanyName" :name="'CompanyName' + index" />

                                    <div v-show="errors.has('CompanyName' + index)" class="help is-danger">
                                        {{ errors.first("CompanyName" + index) }}
                                    </div>

                                </div>

                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Job Title</h6>
                                </div>
                                <div class="col-sm-9">

                                    <input v-model="item.JobTitle" placeholder="JobTitle" class="form-control" v-validate="'required'" type="text" :class="{
                                     input: true,
                                            'is-danger': errors.has('JobTitle' + index),
                                         }" data-vv-as="JobTitle" :name="'JobTitle' + index" />
                                    <div v-show="errors.has('JobTitle' + index)" class="help is-danger">
                                        {{ errors.first("JobTitle" + index) }}
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    <date-picker :ref="'startDate_' + index" :name="'startDate_' + index" v-model="item.StartDate" data-vv-as="Start Date" :class="{
                                input: true,
                                'is-danger': errors.has('startDate_' + index),
                                    }" v-validate="'required'" valueType="format"></date-picker>
                                    <div v-show="errors.has('startDate_' + index)" class="help is-danger"></div>

                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9">

                                    <date-picker v-bind="{ name: 'enddate' + index }" v-model="item.EndDate" data-vv-as="End Date" :class="{
                                    input: true,
                                    'is-danger': errors.has('enddate' + index),
                                        }" v-validate="'required'" valueType="format"></date-picker>

                                    <div v-show="errors.has('enddate' + index)" class="help is-danger">
                                        {{ errors.first("enddate" + index) }}
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Job Type</h6>
                                </div>
                                <div class="col-sm-9" v-if="isEdit">
                                    <div>
                                        <select v-model="item.JobTypeId" v-select="item.JobTypeId" data-vv-as="Job Type" v-validate="'required'" type="text" :class="{
                                        input: true,
                                    'is-danger': errors.has('JobTypeId' + index),   }" :name="'JobTypeId' + index" class="form-control col-md-4">
                                            <option value="">Select District</option>
                                            <option v-for="listItem in JobTypeCollection" v-bind:value="listItem.Id">
                                                {{listItem.Text}}
                                            </option>
                                        </select>

                                        <div v-show="errors.has('JobTypeId' + index)" class="help is-danger">
                                            {{ errors.first("JobTypeId" + index) }}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Responsibilities</h6>
                                </div>
                                <div class="col-sm-9">

                                    <input v-model="item.Responsibilities" placeholder="Responsibilities" class="form-control" v-validate="'required'" type="text" :class="{
                                    input: true, 'is-danger': errors.has('Responsibilities' + index), }" data-vv-as="Responsibilities" :name="'Responsibilities' + index" />
                                    <div v-show="errors.has('Responsibilities' + index)" class="help is-danger">
                                        {{ errors.first("Responsibilities" + index) }}
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Currently Working Here</h6>
                                </div>
                                <div class="col-sm-9">

                                    <input type="checkbox" class="checkbox-custom" v-model="item.IsCurrentJob" :name="'Workinghere' + index">

                                </div>
                            </div>

                            <a v-if="vModel.StudentExperienceDetails.length > 1" href="javascript:void(0)" @click="removeExperienceDetails(item)"><i class="fa fa-trash fa-2x"></i></a>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="text-link mt-1" @click="addExperienceDetails()">
                                    <i class="fa fa-plus"></i> Add Experience
                                </span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" @click="cancelForm" class="btn btn-secondary">
                                Cancel
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </CCardBody>
    </CCard>

</div>
</template>

<script>
import CommonService from "../../../services/common";
import ProfileTab from "../../../shared/ProfileTab";
export default {
    name: "Experience",
    components: {
        ProfileTab
    },

    data() {
        return {
            isEdit: false,
            JobTypeCollection: [{
                    Id: "1",
                    Text: "EntryLevel"
                },
                {
                    Id: "2",
                    Text: "MidLevel"
                },
                {
                    Id: "3",
                    Text: "SeniorLevel"
                },
            ],
            vModel: {
                StudentProfile: {
                    FirstName: "",
                    LastName: "",
                    Address: "",
                    Website: "",
                    PrimaryContactName: "",
                    Skills: "",
                },
                StudentEducationDetails: [],
                StudentExperienceDetails: [],
            },
            user: {
                Name: "",
                Address: "",
            },
        };
    },
    mounted() {
        this.getStudentDetails();
    },

    methods: {
        getStudentDetails() {
            var promises = [];
            promises.push(CommonService.getById("profile/get"));

            Promise.all(promises).then((responses) => {
                if (responses && responses[0].status == 200) {
                    this.vModel = responses[0].body.Content;
                }
            });
        },

        changeTab(index) {
            this.tabindex = 0;
            this.isEdit = false;
        },

        editForm: function (e) {
            this.isEdit = true;
        },

        cancelForm: function (e) {
            this.isEdit = false;
            this.getStudentDetails();
        },

        onSubmit() {

            var self = this;
            var url = "profile/update";
            self.vModel.Action = 2;
            self.$validator.validateAll().then((result) => {
                if (result) {
                    this.$http.post(url, self.vModel).then(
                        (response) => {
                            this.$toast.success(response.data.Message || "Success");
                            this.getStudentDetails();
                            this.isEdit = false;
                        },
                        (errors) => {
                            this.isDataprocessing = false;
                        }
                    );
                }
            });
        },

        addExperienceDetails() {
            this.isEdit = true;
            this.vModel.StudentExperienceDetails.push({
                Id: 0,
                JobTitle: null,
                CompanyName: null,
                JobTypeId: null,
                IsCurrentJob: null,
                EndDate: null,
                Responsibilities: null,
            });
        },
        removeExperienceDetails(item) {
            var index = this.vModel.StudentExperienceDetails.indexOf(item);
            if (index > -1) {
                this.vModel.StudentExperienceDetails.splice(index, 1);
            }
        },
    },
};
</script>

<style scoped>
.clear-fix {
    clear: both;
}
</style>
