﻿@model JEULPlacementSystem.Common.ViewModel.MyProfileViewModel
@{

    var fullName = string.Join(" ", Model.StudentProfile.FirstName, Model.StudentProfile.LastName).ToUpper();
}
<table cellspacing="3" cellpadding="3" width="100%" style="color:#fff;text-align:center;margin-bottom:20px;margin-top:20px;font-size:25px;background: #c71c2c;border-radius: 4px;">
    <tr><td>@fullName </td></tr>
</table>
<table border="0" width="100%" style="font-size: 18px" cellspacing="3" cellpadding="3">

    <tr>
        <td width="30%" style="font-weight: bold;">Gender1 :</td>
        <td width="50%">@Model.StudentProfile.Gender</td>
    </tr>
    <tr>
        <td width="30%" style="font-weight: bold;">Mobile Number :</td>
        <td width="50%">@Model.StudentProfile.MobileNumber</td>
    </tr>
    @*<tr>
            <td width="50%" style="font-weight: bold;">Date of Birth :</td>
            <td>@Model.StudentProfile.DateOfBirth!=null?  @Model.StudentProfile.DateOfBirth.Value.ToString("yyyy-MM-dd"):""</td>
        </tr>*@
    <tr>
        <td width="30%" style="font-weight: bold;">Nationality :</td>
        <td width="70%">@Model.StudentProfile.Nationality</td>
    </tr>
    <tr>
        <td width="30%" style="font-weight: bold;">Current Address :</td>
        <td width="70%">@Model.StudentProfile.CurrentAddress</td>
    </tr>
    <tr>
        <td width="30%" style="font-weight: bold;">Permanent Address :</td>
        <td width="70%">@Model.StudentProfile.PermanentAddress</td>
    </tr>

</table>

<table border="0" width="100%" style="font-size: 18px; margin-top:20px;" cellspacing="3" cellpadding="3">

    <tr>
        <td width="100%" style="font-weight: bold;">Objective :</td>
    </tr>


    <tr>
        <td>@Model.StudentProfile.Objective</td>
    </tr>


    <tr>
        <td height="20px">
        </td>
    </tr>
    <tr>
        <td width="100%" style="font-weight: bold;">Skills :</td>
    </tr>


    <tr>
        <td>@Model.StudentProfile.Skills</td>
    </tr>
</table>

<h2>Education Details </h2>
<table border="0" width="100%" style="font-size: 18px; margin-top:20px;" cellspacing="3" cellpadding="3">
    @foreach (var item in Model.StudentEducationDetails)
    {

        <tr>
            <td width="30%" style="font-weight: bold;">Institute :</td>
            <td width="70%">@item.Institute</td>
        </tr>
        <tr>
            <td width="30%" style="font-weight: bold;">Degree :</td>
            <td width="70%">@item.Institute</td>
        </tr>

        <tr>
            <td width="30%" style="font-weight: bold;">Faculty :</td>
            <td width="70%">@item.Faculty</td>
        </tr>
        <tr>
            <td width="30%" style="font-weight: bold;">Start Date :</td>
            <td width="70%">@item.StartDate</td>
        </tr>

        <tr>
            <td width="30%" style="font-weight: bold;">End Date :</td>
            <td width="70%">@item.EndDate</td>
        </tr>
        <tr>
            <td width="30%" style="font-weight: bold;">Marks :</td>
            <td width="70%">@item.Marks</td>
        </tr>

    }
</table>


<h2>Experience Details </h2>
<table border="0" width="100%" style="font-size: 18px; margin-top:20px;" cellspacing="3" cellpadding="3">
    @foreach (var item in Model.StudentExperienceDetails)
    {

        <tr>
            <td width="30%" style="font-weight: bold;">Company Name :</td>
            <td width="70%">@item.CompanyName</td>
        </tr>
        <tr>
            <td width="30%" style="font-weight: bold;">Job Title :</td>
            <td width="70%">@item.JobTitle</td>
        </tr>

        <tr>
            <td width="30%" style="font-weight: bold;">Currently Working here :</td>
            <td width="70%">@(item.IsCurrentJob? "Yes": "No")</td>
        </tr>
        <tr>
            <td width="30%" style="font-weight: bold;">Start Date :</td>
            <td width="70%">@item.StartDate</td>
        </tr>

        <tr>
            <td width="30%" style="font-weight: bold;">End Date :</td>
            <td width="70%">@item.EndDate</td>
        </tr>


    }
</table>

<table border="0" width="100%" style="font-size: 18px; margin-top:20px;" cellspacing="3" cellpadding="3">
    @foreach (var item in Model.StudentExperienceDetails)
    {
        <tr>
            <td width="100%" style="font-weight: bold;">Responsibilities :</td>
        </tr>


        <tr>
            <td>@item.Responsibilities</td>
        </tr>


        <tr>
            <td height="20px">
            </td>
        </tr>
    }
</table>
