<template>
  <div>
    <!-- <WidgetsDropdown/> -->
    <!-- <CCard>
      <CCardBody>
        <CRow>
          <CCol sm="5">
            <h4 id="traffic" class="card-title mb-0">Welcome to Dashboard</h4>
          </CCol>
      
        </CRow>
         
      </CCardBody>
      
    </CCard> -->
    <div v-if="userType=='Student'">
    <student-dashboard />
    </div>
  </div>
</template>

<script>
import StudentDashboard from "./StudentDashboard.vue";
import CommonService from "../../services/common";
 

export default {
  name: "Dashboard",
  components: {
    StudentDashboard,
   
  },
  mounted() {
    this.userType = CommonService.getUserRole();
  },

  data() {
    return {
      userType: "",
    };
  },
  methods: {},
};
</script>
