<template>
  <div>
    <!-- <WidgetsDropdown/> -->
    <div v-if="viewDetails" class="form-actions mb-3">
      <div class="text-right">
        <a
          class="btn btn-info btn-flat btn-social active"
          style="color: #fff"
          @click="viewDetails = !viewDetails"
          ><i class="fa fa-list"></i> Back
        </a>
      </div>
    </div>
    <CCard>
      <CCardHeader>
        <strong>Dashboard </strong>
      </CCardHeader>

      <CCardBody>
         <form
              @submit.prevent="onFilterSubmit"
              novalidate
              autocomplete="off"
            >
            <div v-if="!viewDetails">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                   
                    <input
                      autocomplete="off"
                      v-model="externalFilterViewModel.title"
                      :class="{
                        input: true,
                        'is-danger': errors.has('filterName'),
                      }"
                      type="text"
                      class="form-control"
                      name="filterName"
                      placeholder="Search By Title"
                    />
                  </div>
                </div>

                <div class="col-md-3 ">
                  <button type="submit" class="btn btn-primary">Search</button>
                  <button
                    type="button"
                    class="btn btn-info"
                    @click="clearFilter"
                  >
                    Cancel
                  </button>
                </div>
              </div>
              
              </div>
            </form>
        <div v-if="!viewDetails">
          <div v-if="jobList.length > 0">
           

            <div class="row job-box" v-for="(item, index) in jobList" :key="item.Id">
              <div class="col-md-9">
                <div class="job-title-box">
                  <a href="#">
                    <div
                      class="job-title mb-2"
                      v-on:click="viewJobDetails(item)"
                    >
                      {{ item.Title }}
                    </div>
                  </a>
                  <a href="#"><span class="comp-name"> </span></a>
                  <a href="" class="job-type jt-full-time-color">
                    <i class="fa fa-clock-o"></i> {{ item.JobType }}
                  </a>
                </div>
                <p class="mt-2">
                  {{ item.JobDescription }}
                  <span class="text-link" v-on:click="viewJobDetails(item)">
                    Read More</span
                  >
                </p>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-12">
                <button
                  v-if="!item.IsApplied"
                  class="btn btn-primary btn-custom"
                  :disabled="item.IsApplied"
                  v-on:click="applyJob(item)"
                >
                  Apply Now
                </button>
                <button
                  v-else
                  class="btn btn-success btn-custom"
                  :disabled="item.IsApplied"
                >
                  Applied
                </button>
              </div>
            </div>
          </div>
          <div v-else>No Job Available</div>
        </div>

        <div v-else>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Title</div>
                  <div class="col-md-1">:</div>

                  <label class="col-md-6">{{ jobDetails.Title }}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">No Of Vacancy</div>
                  <div class="col-md-1">:</div>
                  <label class="col-md-6">{{ jobDetails.NoOfVacancy }}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Salary</div>
                  <div class="col-md-1">:</div>
                  <label class="col-md-6">{{ jobDetails.Salary }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Job Description :</div>
                  <!-- <div class="col-md-1">:</div> -->

                  <label class="col-md-12">{{
                    jobDetails.JobDescription
                  }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Requirements :</div>
                  <!-- <div class="col-md-1">:</div> -->

                  <label class="col-md-12">{{ jobDetails.Requirements }}</label>
                </div>
              </div>
            </div>
          </div>

          <CCardFooter>
            <CRow>
              <button
                id="btnapply"
                v-if="!jobDetails.IsApplied"
                class="btn btn-primary"
                :disabled="jobDetails.IsApplied"
                v-on:click="applyJob(jobDetails, true)"
              >
                Apply Now
              </button>
              <button
                id="btnapply"
                v-else
                class="btn btn-success"
                :disabled="jobDetails.IsApplied"
              >
                Applied
              </button>

              <button
                id="btnsave"
                v-if="!jobDetails.IsSaved"
                class="btn btn-primary"
                :disabled="jobDetails.IsSaved"
                v-on:click="saveJob(jobDetails, true)"
              >
                Save Job
              </button>
              <button
                id="btnsave"
                v-else
                class="btn btn-danger"
                 v-on:click="saveJob(jobDetails, true)"
              >
                Un-Save
              </button>
            </CRow>
          </CCardFooter>
        </div>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import CommonService from "../../services/common";
export default {
  name: "StudentDashboard",
  components: {},
  data() {
    return {
      jobList: [],
      viewDetails: false,
      jobDetails: "",
      externalFilterViewModel: {
        title: null,
      },
    };
  },

  mounted() {
    this.getJobList();
  },

  methods: {
    getJobList() {
      var promises = [];
      promises.push(CommonService.getById("student/job/list"));

      Promise.all(promises).then((responses) => {
        if (responses && responses[0].status == 200) {
          this.jobList = responses[0].body.Content;
        }
      });
    },

    applyJob(job, fromDetail = false) {
      var model = {
        Id: job.Id,
      };
      this.$http.post("student/job/apply", model).then(
        (response) => {
          this.isDataprocessing = false;
          this.$toast.success(response.data.Message || "Success");
          this.getJobList();
          if (fromDetail) {
            this.jobDetails.IsApplied = true;
          }
        },
        (errors) => {
          this.isDataprocessing = false;
        }
      );
    },

    saveJob(job, fromDetail = false) {
      var model = {
        Id: job.Id,
      };
      this.$http.post("student/job/save", model).then(
        (response) => {
          this.isDataprocessing = false;
          this.$toast.success(response.data.Message || "Success");
          this.getJobList();
          if (fromDetail) {
            this.jobDetails.IsSaved = !this.jobDetails.IsSaved;
          }
        },
        (errors) => {
          this.isDataprocessing = false;
        }
      );
    },

    viewJobDetails(job) {
      this.viewDetails = true;
      this.jobDetails = job;

      if (this.viewDetails) {
        var model = {
          Id: job.Id,
        };
        this.$http.post("student/job/noofviewscount", model);
      }
    },

    onFilterSubmit(){
      this.$http.get("student/job/list?title="+ this.externalFilterViewModel.title).then(
        (response) => {
           this.jobList = response.body.Content; 
        }
      );
    },

    clearFilter() {
      this.externalFilterViewModel.title = "";
      this.onFilterSubmit();
    },
  },
};
</script>

<style >
.job-box {
  border-bottom: 1px solid #f1f1f1;
  padding: 30px 0;
  margin-bottom: 0;
}

.job-title {
  text-transform: capitalize;
  color: #242424;
  font-size: 20px;
  font-weight: 600;
}
.comp-name {
  text-transform: capitalize;
  color: #191919;
  font-size: 14px;
}
.jt-full-time-color {
  color: #d3b940 !important;
}
.btn-custom {
  width: 80%;
}
</style>