// Here you can add other styles
.vue-kendo
{
  cursor: pointer;
}

div.is-danger {
    color: #de1b1b;
    font-style: italic;
  }

  .text-bold{font-weight:bold;}

  .btn{
    margin-right: 5px;
  }

  .a-link {
    cursor: pointer;
    text-decoration: underline !important;
    color: #167495 !important;
  }