<template>
<div>

    <div v-if="userType !== 'Student'">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150" />
                            <div class="mt-3">
                                <h4>{{ user.Name }}</h4>
                                <p class="text-muted font-size-sm">
                                    {{ user.Address }}
                                </p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg>Website
                            </h6>
                            <span class="text-secondary">https://jeuls.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                </svg>Github
                            </h6>
                            <span class="text-secondary">jeuls</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                                    <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                </svg>Twitter
                            </h6>
                            <span class="text-secondary">@jeuls</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>Instagram
                            </h6>
                            <span class="text-secondary">jeuls</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook
                            </h6>
                            <span class="text-secondary">jeuls</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <span v-if="!isEdit" class="pull-right text-link" @click="editForm()">
                            Edit</span>
                        <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
                            <div class="row mb-10 p-10 clear-fix">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.Name }}</div>
                                    <div v-else>
                                        <input data-vv-as="Name" type="text" placeholder="" v-model="vModel.Name" v-validate="'required'" :class="{
                                           input: true,
                          'is-danger': errors.has('Name'), 
                        }" class="form-control" name="Name" aria-required="true" aria-invalid="false" />
                                        <div v-show="errors.has('Name')" class="help is-danger">
                                            {{ errors.first("Name") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.Email }}</div>
                                    <div v-else>
                                        <input v-model="vModel.Email" v-validate="'required|email'" data-vv-as="Email Address" :class="{
                          input: true,
                          'is-danger': errors.has('Email'),
                        }" type="email" class="form-control" placeholder="" name="Email" />
                                        <div v-show="errors.has('Email')" class="help is-danger">
                                            {{ errors.first("Email") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.Address }}</div>
                                    <div v-else>
                                        <input v-model="vModel.Address" v-validate="'required'" data-vv-as="Address" type="text" class="form-control" placeholder="" name="Address" />
                                        <div v-show="errors.has('Address')" class="help is-danger">
                                            {{ errors.first("Address") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Website</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.Website }}</div>
                                    <div v-else>
                                        <input v-model="vModel.Website" v-validate="'required'" type="text" class="form-control" placeholder="" name="Website" />
                                        <div v-show="errors.has('Website')" class="help is-danger">
                                            {{ errors.first("Website") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Primary Contact Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.PrimaryContactName }}</div>
                                    <div v-else>
                                        <input v-model="vModel.PrimaryContactName" v-validate="'required'" type="text" class="form-control" placeholder="" data-vv-as="Primary Contact Name" name="PrimaryContactName" />
                                        <div v-show="errors.has('PrimaryContactName')" class="help is-danger">
                                            {{ errors.first("PrimaryContactName") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10 p-10">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Primary Contact Email</h6>
                                </div>
                                <div class="col-sm-9">
                                    <div v-if="!isEdit">{{ vModel.PrimaryContactEmail }}</div>
                                    <div v-else>
                                        <input data-vv-as="Name" type="text" placeholder="" disabled="true" v-model="vModel.PrimaryContactEmail" name="Name" class="form-control input" aria-required="true" aria-invalid="false" />
                                    </div>
                                </div>
                            </div>

                            <div v-if="isEdit">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" @click="cancelForm" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="userType === 'Student'">

        <student-profile />
    </div>
</div>
</template>

<script>
import CommonService from "../../services/common";
import StudentProfile from "./StudentProfile.vue";
export default {
    name: "MyProfile",
    components: {
        StudentProfile,
    },

    mounted() {
        this.userType = CommonService.getUserRole();
    },

    beforeRouteEnter(to, from, next) {
        var promises = [];

        promises.push(CommonService.getById("profile/get"));

        Promise.all(promises).then((responses) => {
            next((vm) => {
                if (responses && responses[0].status == 200) {
                    vm.vModel = responses[0].body.Content;
                    vm.user.Name = vm.vModel.Name;
                    vm.user.Address = vm.vModel.Address;
                }
            });
        });
    },
    data() {
        return {
            userType: '',
            isEdit: false,
            vModel: {
                Email: "",
                Name: "",
                Address: "",
                Website: "",
                PrimaryContactName: "",
                PrimaryContactEmail: "",
            },
            user: {
                Name: "",
                Address: "",
            },
        };
    },

    methods: {
        editForm: function (e) {
            this.isEdit = true;
        },

        cancelForm: function (e) {
            this.isEdit = false;
        },

        onSubmit() {
            var self = this;
            var url = "profile/update";
            self.$validator.validateAll().then((result) => {
                if (result) {
                    this.$http.post(url, self.vModel).then(
                        (response) => {
                            this.$toast.success(response.data.Message || "Success");
                            this.$router.go(0);
                        },
                        (errors) => {
                            this.isDataprocessing = false;
                        }
                    );
                }
            });
        },
    },
};
</script>

<style scoped>
.clear-fix {
    clear: both;
}
</style>
