<template>
<div>
    <ProfileTab />

    <CCard>
        <CCardHeader> Basic Info </CCardHeader>
        <CCardBody>
            <span v-if="!isEdit" class="pull-right text-link" @click="editForm()">
                Edit</span>
            <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
                <div v-if="!isEdit">
                    <div class="row mb-10 p-10 clear-fix">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9">
                            {{ vModel.StudentProfile.FirstName }}
                        </div>

                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9">
                            {{ vModel.StudentProfile.LastName }}

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Permanent Address</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.PermanentAddress }}

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Current Address</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.CurrentAddress }}

                        </div>
                    </div>
                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.Gender }}

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mobile Number</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.MobileNumber }}

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Skills</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.Skills }}

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Objective</h6>
                        </div>
                        <div class="col-sm-9">

                            {{ vModel.StudentProfile.Objective }}

                        </div>
                    </div>

                </div>
                <div v-else>
                    <div class="row mb-10 p-10 clear-fix">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9">

                            <input data-vv-as="First Name" type="text" placeholder="" v-model="vModel.StudentProfile.FirstName" v-validate="'required'" :class="{
                                input: true,
                                'is-danger': errors.has('FirstName'),
                                 }" class="form-control" name="FirstName" aria-required="true" aria-invalid="false" />
                            <div v-show="errors.has('FirstName')" class="help is-danger">
                                {{ errors.first("FirstName") }}
                            </div>
                        </div>

                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9">

                            <input v-model="vModel.StudentProfile.LastName" v-validate="'required'" data-vv-as="Last Name" :class="{
                                    input: true,
                                    'is-danger': errors.has('LastName'),
                                     }" type="text" class="form-control" placeholder="" name="LastName" />
                            <div v-show="errors.has('LastName')" class="help is-danger">
                                {{ errors.first("LastName") }}
                            </div>
                        </div>

                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Permanent Address</h6>
                        </div>
                        <div class="col-sm-9">

                            <input v-model="vModel.StudentProfile.PermanentAddress" v-validate="'required'" data-vv-as="Permanent Address" type="text" class="form-control" placeholder="" name="PermanentAddress" />
                            <div v-show="errors.has('PermanentAddress')" class="help is-danger">
                                {{ errors.first("PermanentAddress") }}
                            </div>

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Current Address</h6>
                        </div>
                        <div class="col-sm-9">

                            <input v-model="vModel.StudentProfile.CurrentAddress" v-validate="'required'" data-vv-as="Current Address" type="text" class="form-control" placeholder="" name="CurrentAddress" />
                            <div v-show="errors.has('CurrentAddress')" class="help is-danger">
                                {{ errors.first("CurrentAddress") }}
                            </div>

                        </div>
                    </div>
                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9">

                            <input v-model="vModel.StudentProfile.Gender" v-validate="'required'" type="text" class="form-control" placeholder="" name="Gender" />
                            <div v-show="errors.has('Gender')" class="help is-danger">
                                {{ errors.first("Gender") }}
                            </div>
                        </div>

                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mobile Number</h6>
                        </div>
                        <div class="col-sm-9">

                            <input v-model="vModel.StudentProfile.MobileNumber" v-validate="'required'" type="text" class="form-control" placeholder="" data-vv-as="Primary Contact Name" name="MobileNumber" />
                            <div v-show="errors.has('MobileNumber')" class="help is-danger">
                                {{ errors.first("MobileNumber") }}
                            </div>

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Skills</h6>
                        </div>
                        <div class="col-sm-9">

                            <textarea data-vv-as="Skills" v-validate="'required'" type="text" placeholder="" v-model="vModel.StudentProfile.Skills" name="Skills" class="form-control input" aria-required="true" aria-invalid="false">
                                </textarea>
                            <div v-show="errors.has('Skills')" class="help is-danger">
                                {{ errors.first("Skills") }}
                            </div>

                        </div>
                    </div>

                    <div class="row mb-10 p-10">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Objective</h6>
                        </div>
                        <div class="col-sm-9">

                            <textarea data-vv-as="Objective" type="text" v-validate="'required'" placeholder="" v-model="vModel.StudentProfile.Objective" name="Objective" class="form-control input" aria-required="true" aria-invalid="false">
                                    </textarea>
                            <div v-show="errors.has('Objective')" class="help is-danger">
                                {{ errors.first("Objective") }}
                            </div>

                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" @click="cancelForm" class="btn btn-secondary">
                            Cancel
                        </button>

                    </div>
                </div>
            </form>
        </CCardBody>
    </CCard>
</div>
</template>

<script>
import CommonService from "../../services/common";
import ProfileTab from "../../shared/ProfileTab";
import Education from "./student/education.vue";
import Experience from "./student/experience.vue";
export default {
    name: "StudentProfile",
    components: {
        Education,
        Experience,
        ProfileTab,
    },

    data() {
        return {
            isEdit: false,
            tabindex: 0,
            vModel: {
                StudentProfile: {
                    FirstName: "",
                    LastName: "",
                    Address: "",
                    Website: "",
                    PrimaryContactName: "",
                    Skills: "",
                },
                StudentEducationDetails: [],
                StudentExperienceDetails: [],
            },
            user: {
                Name: "",
                Address: "",
            },
        };
    },
    mounted() {
        this.getStudentDetails();
    },

    methods: {
        getStudentDetails() {
            var promises = [];
            promises.push(CommonService.getById("profile/get"));

            Promise.all(promises).then((responses) => {
                if (responses && responses[0].status == 200) {
                    this.vModel = responses[0].body.Content;
                }
            });
        },

        editForm: function (e) {
            this.isEdit = true;
        },

        cancelForm: function (e) {
            this.isEdit = false;
            this.getStudentDetails();
        },

        onSubmit() {
            var self = this;
            var url = "profile/update";
            self.vModel.Action = this.tabindex;
            self.$validator.validateAll().then((result) => {
                if (result) {
                    this.$http.post(url, self.vModel).then(
                        (response) => {
                            this.$toast.success(response.data.Message || "Success");
                            this.getStudentDetails();
                            this.isEdit = false;
                        },
                        (errors) => {
                            this.isDataprocessing = false;
                        }
                    );
                }
            });
        },
    },
};
</script>
