<template>
  <div>
    <div class="form-actions mb-3">
      <div class="text-right">
        <router-link
          class="btn btn-info btn-flat btn-social"
          tag="a"
          :to="{ path: '/student/list' }"
          ><i class="fa fa-list"></i> List
        </router-link>
      </div>
    </div>
    <CCard>
      <CCardHeader>
        <strong>Student Detail </strong>
      </CCardHeader>
      <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
        <CCardBody>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">First Name</div>
                  <div class="col-md-1">:</div>

                  <label class="col-md-6">{{ vModel.FirstName }}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Last Name</div>
                  <div class="col-md-1">:</div>
                  <label class="col-md-6">{{ vModel.LastName }}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Email Address</div>
                  <div class="col-md-1">:</div>
                  <label class="col-md-6">{{ vModel.Email }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 text-bold">Phone Number</div>
                  <div class="col-md-1">:</div>

                  <label class="col-md-6">{{ vModel.PhoneNumber }}</label>
                </div>
              </div>
            </div>
          </div>
        </CCardBody>
      </form>
    </CCard>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "StudentDetail",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/student";
    this.url.list = "student/list";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.id !== undefined) {
      var promises = [];
      promises.push(CommonService.getById("student/" + to.params.id));

      Promise.all(promises).then((responses) => {
        next((vm) => {
          if (to.params.id !== undefined) {
            if (responses && responses[0].status == 200) {
              vm.vModel = responses[0].body.Content;
            }
          }
        });
      });
    } else {
      next();
    }
  },

  data: function () {
    return {
      vModel: {
        FirstName: "",
        LastName: "",
        Email: "",
        PhoneNumber: "",
      },
    };
  },

  methods: {},
};
</script>

<style>
.form-control:focus {
  box-shadow: none;
}
</style>