<template>
  <div>
 
   
      <kendo-grid
        :data-source="kendoDataSource"
        :columns="columns"
        :sortable="true"
        :pageable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
      </kendo-grid>
    </div>
 
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "Student",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.init = "/student";
    this.url.list = "student/getall";
 
    this.url.detail = "/student/detail";

    this.url.redirectUrl = "/student";
   
  },
 

  data: function () {
    return {
   

      columns: [
        {
          field: "FirstName",
          title: "First Name",
          type: "string",
          width: "200px",
        },
        {
          field: "LastName",
          title: "Last Name",
          type: "string",
          width: "200px",
        },
        {
          field: "Email",
          title: "Email",
          type: "string",
          width: "200px",
        },
        {
          field: "PhoneNumber",
          title: "Phone Number",
          type: "string",
          width: "200px",
        },
       
        {
          title: "Action",
          width: "200px",
          template:
            '<a id="view-${Id}" class="vue-kendo link-detail" title="View" >' +
            '<i class="fa fa-eye fa-2x text-success cursor" data-item="${Id}"></i> ' +
            "</a>" 
            
        },
      ],
    };
  },

  methods: {},
};
</script>
