<template>
<div class="animated fadeIn">
    <div>
        <form @submit.prevent="onSubmitBulk" enctype="multipart/form-data" novalidate="" autocomplete="off">
            <div class="card">
                <div class="card-header">
                    <strong>Student Onboarding</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Upload (valid file type: .csv) </label>
                                <input ref="uploadedFile" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('File') }" type="file" class="form-control" name="File" />
                            </div>
                            <div v-show="errors.has('File')" class="help is-danger">{{ errors.first('File') }}</div>

                            <span class="linkDownload" @click="downloadSampleFile()">Sample File</span>


                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div v-show="showResult">

        <label class="control-label">Student onboarding done successfully, please check the result on below table.</label>

        <kendo-grid ref="StudentOnBoardingGrid" :pageable="true" :autoBind="true">
            <kendo-grid-column field="Email" title="Email Address" width="200px"></kendo-grid-column>
 
            <kendo-grid-column field="Status" title="Status" :filterable="{ multi: true }" width="200px"></kendo-grid-column>
        </kendo-grid>
    </div>
</div>
</template>

<script>
import Base from '../../shared/Base.vue'
export default {
    name: 'BulkStudentOnboarding',
    extends: Base,
    components: {},
    mounted() {},
    created() {
        this.url.add = "student/onboarding";
        this.url.sampledownload = "student/downloadsample";

    },
    beforeRouteEnter(to, from, next) {
        next()
    },
    computed: {},
    data() {
        return {
            vModel: {
                Name: '',
            },
            isDataprocessing: false,
            showResult: false,
            StudentOnBoardingResult: null,
            template: '',
        }
    },
    methods: {
        downloadSampleFile() {

            this.$http.get(this.url.sampledownload)
                .then(
                    (response) => {
                        let newBlob = new Blob([response.body], {
                            type: "text/csv"
                        });

                        let data = window.URL.createObjectURL(newBlob);
                        let link = document.createElement('a');
                        link.href = data;
                        link.download = "OnBoardingSample.csv";
                        link.click();
                        setTimeout(() => {
                            window.URL.revokeObjectURL(data);
                        }, 100);
                    });

        },
        customBoolEditor: function (id) {},
        onSubmitBulk() {
            if (this.isDataprocessing) {
                return
            }
            var self = this
            self.$validator.validateAll().then((result) => {
                if (result) {
                    var url = self.url.add
                    const files = self.$refs.uploadedFile.files;
                    const data = new FormData();
                    data.append('File', files[0]);
                    self.isDataprocessing = true
                    self.$http.post(url, data)
                        .then((response) => {
                            self.isDataprocessing = false
                            self.showResult = true

                            var StudentOnBoardingResultDataSource = new kendo.data.DataSource({
                                pageSize: response.body.Data.length,
                                page: 1,
                                data: response.body.Data,
                            });
                            self.$refs.StudentOnBoardingGrid
                                .kendoWidget()
                                .setDataSource(StudentOnBoardingResultDataSource);

                            //this.ReconcilationResult = response.body.Data

                        }, (error) => {
                            self.isDataprocessing = false
                        })
                }
            })
        },
    }
}
</script>

<style>
.linkDownload {
    color: #20a8d8;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}
</style>
