<template>
  <div>
    <div class="row">
      <CCol xs="12" lg="12">
        <CCard>
          <CCardHeader> Profile </CCardHeader>
          <CCardBody>
            <div class="col-sm-12">
              <ul class="nav nav-pills ">
                <li class="nav-item">
                  <router-link
                    to="/myprofile"
                    class="nav-link"
                  active-class="active" exact
                    >My Profile</router-link
                  >
                </li>
                <li class="nav-item">
                  <router-link
                    to="/myprofile/education"
                    class="nav-link"
                   active-class="active"
                    >Education</router-link
                  >
                </li>
                <li class="nav-item">
                  <router-link
                    to="/myprofile/experience"
                    class="nav-link"
                     active-class="active"
                    >Experience</router-link
                  >
                </li>
              </ul>
              <div class="tab-content py-2">
                <router-view></router-view>
              </div>
            </div>
          </CCardBody>
        </CCard>
      </CCol>
    </div>
  </div>
</template>

<script>
export default {
  name: "StudentProfile",
  components: {},

  data() {
    return {};
  },
  methods: {
   
  },
};
</script>

 