<template>
<div class="jobdetails">

    <div class="green-skin bg-light">
        <div class="Loader"></div>
        <div id="main-wrapper">
            <section class="small-page-title-banner" style="background-image:url(img/des-9.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="tr-list-center">
                            <h2>{{vModel.Title}}</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tr-single-detail gray-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-md-12 col-sm-12">

                            <!-- Default Style -->
                            <div class="single-job-head head-light">
                                <div class="single-job-thumb">
                                    <img src="assets/img/google.png" alt="">
                                </div>
                                <div class="single-job-info">
                                    <h4 class="single-job-title">{{vModel.Title}}<span class="job-type full-time">{{vModel.JobType}}</span></h4>
                                    <span class="sj-location"><i class="fa fa-map-marker"></i>{{vModel.Company.Address}}</span>
                                    <ul class="tags-jobs">
                                        <li><i class="fa fa-file"></i> Applications {{vModel.ApplicantCount}}</li>
                                        <li><i class="fa fa-calendar"></i> Post Date: {{ customDateFormat(vModel.DatePublished) }} </li>
                                        <li><i class="fa fa-eye"></i> Views {{vModel.ViewCount}}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Job Overview -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="fa fa-info"></i> Job Overview</h4>
                                </div>

                                <div class="tr-single-body">
                                    <ul class="extra-service">
                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    <strong class="d-block">Offerd Salary</strong>
                                                    {{vModel.Salary}}
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-user-o"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    <strong class="d-block">Eligibility Nationality</strong>
                                                    {{vModel.EligibilityNationality}}
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    <strong class="d-block">Industry</strong>
                                                    Management
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-certificate"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    <strong class="d-block">Eligibility Age</strong>
                                                    {{vModel.EligibilityAge}}
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-graduation-cap"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    <strong class="d-block">Qualification</strong>
                                                    Master Degree
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                            <!-- Job Qualifications -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="fa fa-book"></i>Job Description</h4>
                                </div>
                                <div class="tr-single-body">
                                    {{vModel.JobDescription}}
                                    <!-- <ul class="jb-detail-list">
                                        <li>Hand On experience with Wordpress</li>
                                        <li>Good understanding of front-end technologies, including HTML5, CSS3, JavaScript, jQuery</li>
                                        <li>Experience building user interfaces for websites and/or web applications</li>
                                        <li>Experience designing and developing responsive design websites</li>
                                        <li>Comfortable working with debugging tools like Firebug, Chrome inspector, etc.</li>
                                        <li>Ability to understand CSS changes and their ramifications to ensure consistent style across platforms and browsers</li>
                                        <li>Ability to convert comprehensive layout and wireframes into working HTML pages</li>
                                        <li>Knowledge of how to interact with RESTful APIs and formats (JSON, XML)</li>
                                        <li>Proficient understanding of code versioning tool GIT</li>
                                        <li>Strong understanding of PHP back-end development</li>
                                    </ul> -->
                                </div>
                            </div>

                            <!-- Job Education -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="fa fa-trophy"></i>Requirements</h4>
                                </div>
                                <div class="tr-single-body">

                                    {{vModel.Requirements}}
                                    <!-- <ul class="jb-detail-list">
                                        <li>Higher(10th Pass) (Preferred)</li>
                                        <li>Higher Secondary(12th Pass) (Preferred)</li>
                                        <li>Any Graduattion Degree(13th Pass) (Preferred)</li>
                                    </ul> -->
                                </div>
                            </div>

                            <button class="btn apply-btn btn-success full-width mb-2" @click="applyBtn"> Apply This Job</button>

                        </div>

                        <!-- Sidebar Start -->
                        <div class="col-lg-4 col-md-12 col-sm-12">

                            <!-- Apply Button Wrap -->
                            <div class="apply-wrap-buttons">

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="input-group">
                                            <button class="btn btn-success" @click="applyBtn"><i class="fa fa-check-square-o"></i> Apply Job</button>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="input-group">
                                            <a href="#" class="btn btn-color with-linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="input-group">
                                            <a href="#" class="btn btn-color save-job"><i class="fa fa-heart"></i>Save Job</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Company Address -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="fa fa-long-arrow-right"></i> Company Address</h4>
                                </div>

                                <div class="tr-single-body">
                                    <ul class="extra-service">
                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    {{vModel.Company.Address}}
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    +1 415-989-1002
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    {{vModel.Company.Email}}
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-globe"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    {{vModel.Company.Website}}
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                            <!-- Share this -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="fa fa-share-square-o"></i> Share this Job</h4>
                                </div>

                                <div class="tr-single-body">
                                    <ul class="extra-service half">
                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-facebook"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    Facebook
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-twitter"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    Twitter
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-linkedin"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    LinkedIn
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-instagram"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    Instagram
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon-box-icon-block">
                                                <div class="icon-box-round">
                                                    <i class="fa fa-pinterest"></i>
                                                </div>
                                                <div class="icon-box-text">
                                                    Pinterest
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- /col-md-4 -->
                    </div>
                </div>
            </section>
            <!-- ============== Job Detail ====================== -->

        </div>
    </div>
</div>
</template>

<script>
import Base from "../../../shared/Base";
import Action from "../../../shared/Action";
import Mode from "../../../shared/Mode.vue";
import CommonService from '../../../services/common'

export default {
    name: "Detail",
    extends: Base,
    components: {
        Action,
        Mode,
    },

    created() {
        this.url.register = "student";
    },

    beforeRouteEnter(to, from, next) {
        if (to.params.id !== undefined) {
            var promises = [];

            promises.push(CommonService.getById("job/" + to.params.id));

            Promise.all(promises).then((responses) => {
                next((vm) => {

                    if (to.params.id !== undefined) {
                        vm.paramsId = to.params.id;
                        if (responses && responses[0].status == 200) {
                            vm.vModel = responses[0].body.Content;
                        }
                    }
                });
            });
        } else {
            next();
        }
    },
    data: function () {
        return {
            vModel: {
                Company: {
                        Address:'',
                        Email:'',
                        Website:''
                }
            },
        };
    },

    methods: {
        applyBtn() {
            var self = this;

            this.$router.push('/login');

        },
    }
};
</script>

<style>
section {
    padding: 80px 0 80px;
}

.small-page-title-banner {
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.small-page-title-banner:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222e4c;
    opacity: 0.6;
}

.small-page-title-banner>* {
    position: relative;
}

.small-page-title-banner h2 {
    color: #ffffff;
}

.tr-list-center {
    width: 100%;
    text-align: center;
}

.single-job-head.head-light {
    padding: 2rem 1em;
    border-radius: 0.3em;
    background: #ffffff;
    border: 1px solid #eceef3;
}

.single-job-head {
    width: 100%;
    display: table;
    padding-bottom: 30px;
    border: none;
    margin-bottom: 30px;
}

.single-job-thumb {
    display: table-cell;
    vertical-align: top;
    width: 90px;
}

.single-job-thumb img {
    max-width: 90px;
}

.single-job-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}

.single-job-title {
    margin-bottom: 3px;
    font-size: 18px;
}

span.job-type.full-time {
    font-size: 13px;
    margin-left: 15px;
    font-weight: 400;
    color: rgb(76, 175, 80);
    padding: 3px 8px;
    background: rgba(76, 175, 80, 0.1);
    border: 1px solid rgba(76, 175, 80, 0.2);
    border-radius: 2px;
}

span.sj-location {
    font-size: 15px;
}

span.sj-location i {
    margin-right: 4px;
    position: relative;
    top: 2px;
    color: #f40c43;
}

[class*=" ti-"],
[class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa fa-map-marker:before {
    content: "\e693";
}

ul:last-child {
    margin: 0;
}

.tags-jobs {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-top: 15px !important;
}

.tags-jobs>li {
    float: left;
    margin: 0;
    list-style: none;
    margin-right: 0px;
    font-size: 13px;
    margin-right: 30px;
}

.tags-jobs>li i {
    float: left;
    font-size: 18px;
    float: left;
    line-height: 15px;
    margin-right: 8px;
    color: #329a8f;
}

.ti-file:before {
    content: "\e6a4";
}

.ti-calendar:before {
    content: "\e6b6";
}

.fa-eye:before {
    content: "\f06e";
}

.tr-single-box {
    background: #ffffff;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #eceef3;
    margin-bottom: 30px;
}

.tr-single-header {
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: 1px solid #eceef3;
    padding: 12px 25px 12px;
}

.tr-single-header h4 {
    margin: 0;
    flex: 1;
    font-size: 14px;
    font-weight: 600;
}

.tr-single-header h4>i {
    margin-right: 7px;
}

.ti-direction:before {
    content: "\e6a8";
}

.tr-single-body {
    width: 100%;
    padding: 15px 25px 25px;
}

.extra-service {
    margin: 10px 0 0;
    display: table;
    width: 100%;
    padding: 0;
}

.extra-service li {
    list-style: none;
    padding: 7px 0 14px 0;
}

.icon-box-icon-block {
    width: 100%;
    display: inline-block;
    font-size: 13px;
}

.green-skin .icon-box-round {
    color: #00a94f;
}

.icon-box-round {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
    color: #1ac790;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}

.icon-box-text {
    display: inline-block;
    vertical-align: middle;
}

.d-block {
    display: block !important;
}

ul.jb-detail-list {
    padding: 0;
    margin: 0;
}

ul.jb-detail-list li {
    list-style: none;
    padding: 8px 12px 8px 25px;
    position: relative;
}

ul.jb-detail-list li:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background: #c9ced4;
    left: 0;
    top: 19px;
}

.green-skin .btn-info,
.green-skin .btn-primary {
    border-color: #00a94f !important;
}

.apply-wrap-buttons {
    margin-bottom: 20px;
}

.apply-wrap-buttons .input-group {
    margin-bottom: 10px;
}

.apply-wrap-buttons .input-group .btn {
    padding: 1.3em 1em;
    border-radius: 0.3em;
    width: 100%;
    height: auto !important;
}

.apply-wrap-buttons .input-group .btn {
    font-weight: 500;
}

.apply-wrap-buttons .input-group .btn i {
    margin-right: 5px;
}

.ti-check-box:before {
    content: "\e64d";
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.btn.btn-color.with-linkedin {
    background: #0073b1;
    color: #fff;
}

.btn.btn-color i {
    margin-right: 10px !important;
    padding-right: 9px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    top: 1px;
}

.ti-linkedin:before {
    content: "\e735";
}

.btn.btn-color.save-job {
    background: #e81446;
    color: #fff;
}

.ti-heart:before {
    content: "\e634";
}

.ti-direction:before {
    content: "\e6a8";
}

ul {
    list-style: none;
}

.ti-share:before {
    content: "\e72e";
}

.apply-btn {
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

.jobdetails a {
    color: #ffffff;
}

.extra-service.half li {
    width: 50%;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
}
</style>
