<template>
<div>

    <div class="green-skin bg-light">
        <div class="Loader"></div>

        <div id="main-wrapper">

            <div class="clearfix"></div>
            <section class="light-search banncer-cent bg-theme">
                <div class="container">

                    <form class="search-big-form no-border search-shadow" @submit.prevent="retrieveJobList" novalidate autocomplete="off">
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <div class="form-group">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control b-r" v-model="externalFilterViewModel.Title" placeholder="Job Title or Keywords">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <div class="form-group">
                                    <i class="fa fa fa-map-marker"></i>
                                    <input type="text" class="form-control b-r" placeholder="Location">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <div class="form-group">
                                    <select id="category" class="js-states form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">SEO & Web Design</option>
                                        <option value="2">Wealth & Healthcare</option>
                                        <option value="3">Account / Finance</option>
                                        <option value="4">Education</option>
                                        <option value="5">Banking Jobs</option>
                                    </select>
                                    <i class="ti-layers"></i>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button type="submit" class="btn btn-black black full-width btn-list">Find Jobs</button>
                            </div>
                        </div>
                    </form>

                </div>
            </section>

            <div class="clearfix"></div>

            <section>
                <div class="container">

                    <div v-if="gridData.Data.length<1">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <div class="classic-joblist ultimate-center">

                                <div class="cl-job-employer">

                                    <div class="cljb-emp-detail">
                                        <h5>
                                            No Jobs found.
                                            {{externalFilterViewModel.Title !=null ?"Please search for another keyword.":""}}

                                        </h5>
                                        <!-- <span class="cljb-date">just now</span> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row">

                            <!-- Single Job -->
                            <div class="col-lg-4 col-md-6 col-sm-6" v-for="(item,index) in gridData.Data" :key="item.Id">
                                <div class="classic-joblist ultimate-center">

                                    <div class="cl-job-employer">
                                        <div class="cljb-emp-thumg">
                                            <router-link tag="a" :to="{ path: '/jobs/'+item.Id }"><img src="img/company.png" alt="" />
                                            </router-link>

                                        </div>
                                        <div class="cljb-emp-detail">
                                            <h5>
                                                <router-link tag="a" :to="{ path: '/jobs/'+item.Id }">{{item.Company.Name}}
                                                </router-link>

                                            </h5>
                                            <!-- <span class="cljb-date">just now</span> -->
                                        </div>
                                    </div>

                                    <h4 class="job-title">
                                        <router-link tag="a" :to="{ path: '/jobs/'+item.Id }">{{item.Title}}
                                        </router-link>
                                    </h4>

                                    <div class="cl-job-intro">
                                        <span class="cl-jb-loaction"><i class="fa fa-map-marker"></i>{{item.Company.Address}} </span>
                                        <span class="cl-jb-type full-time">{{item.JobType}}</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <b-pagination v-model="currentPage" @change="handlePageChange" :total-rows="rows" :per-page="perPage" aria-controls="my-table"></b-pagination>
                            </div>
                        </div>
                        <!-- Pagination -->

                    </div>

                </div>
            </section>
            <div class="clearfix"></div>

        </div>
    </div>

</div>
</template>

<script>
import Base from "../../../shared/Base";
import Action from "../../../shared/Action";
import Mode from "../../../shared/Mode.vue";
import CommonService from '../../../services/common'

export default {
    name: "StudentRegister",
    extends: Base,
    components: {
        Action,
        Mode,
    },

    mounted() {
        this.retrieveJobList();
    },

    computed: {
        rows() {
            return this.gridData.Total;
        }
    },
    data: function () {
        return {
            externalFilterViewModel: {
                Title: null,
            },
            perPage: 12,
            currentPage: 1,
            gridData: {
                Total: '',
                Data: [],
            },
            vModel: {

            },
        };
    },

    methods: {
        handlePageChange(value) {
            this.currentPage = value;
            this.retrieveJobList();
        },

        retrieveJobList() {
            const url = 'job/getall';
            const params = {
                Take: this.perPage,
                Skip: (this.currentPage - 1) * this.perPage,
                ExternalFilter: this.externalFilterViewModel
            }

            this.$http.post(url, params).then(
                (response) => {
                    this.gridData = response.body;
                },
                (errors) => {

                    this.$toast.errors(errors || "Error");
                }
            );
        },

    },
};
</script>

<style>
section {
    padding: 80px 0 80px;
}

.green-skin .bg-theme {
    background: #00a94f !important;
    background-color: #00a94f !important;
}

[data-overlay] *:not(.container):not(.bg-img-holder) {
    z-index: 2;
}

[data-overlay]:before {
    position: absolute;
    content: '';
    background: #0f213a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

[data-overlay="0"]:before {
    opacity: 0;
}

form.search-big-form.search-shadow,
form.search-form.search-shadow {
    padding: 0px;
    background: #ffffff;
    border-radius: 0px;
    position: relative;
    box-shadow: 0px 0px 0px 9px rgb(255 255 255 / 20%);
    -webkit-box-shadow: 0px 0px 0px 9px rgb(255 255 255 / 20%);
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.b-r {
    border-right: 1px solid #e0ecf5 !important;
}

form.search-big-form.search-shadow .form-group,
form.search-form.search-shadow .form-group {
    position: relative;
}

.search-big-form .form-group i {
    position: absolute;
    color: #bbc6d4;
    left: 13px;
    top: 25px;
    font-size: 22px;
    z-index: 22222 !important;
}

.ti-search:before {
    content: "\e610";
}

.search-big-form.no-border .form-control {
    border: none;
}

.search-big-form .form-control {
    height: 70px !important;
    border-radius: 0px;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 45px;
    box-shadow: none;
}

.search-big-form.no-border .btn {
    border: none;
}

.btn-black {
    background: #263547;
    color: #ffffff;
    border: 1px solid #263547;
}

.btn-list {
    color: #ffffff;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-radius: 0.2rem;
    font-family: 'Poppins', sans-serif;
}

.full-width {
    width: 100%;
}

a:hover,
a:focus,
.btn,
.btn:hover,
.btn:focus {
    text-decoration: none;
}

.search-big-form .btn {
    height: 70px !important;
    border-radius: 0px;
    padding-top: .6rem;
    padding-bottom: .6rem;
    box-shadow: none;
}

.breadcrumbs {
    padding: 15px 0;
    background: #0055ff;
    white-space: nowrap;
    overflow-x: auto;
}

.breadcrumbs.breadcrumbs-light {
    background: #ffffff !important;
}

.classic-joblist {
    overflow: hidden;
    width: 100%;
    display: block;
    background: #ffffff;
    position: relative;
    padding: 3rem 3rem;
    border-radius: 1rem;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 4px 9px 2px rgb(192 200 210 / 30%);
    box-shadow: 0px 4px 9px 2px rgb(192 200 210 / 30%);
}

.ultimate-center .cl-job-employer {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0rem 0 2rem;
    border-bottom: 1px dashed #c3cfe0;
    justify-content: center;
}

.cl-job-employer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4rem;
}

.ultimate-center .cljb-emp-thumg {
    width: 70px;
    height: 70px;
    float: none;
    border-radius: 1rem;
    box-shadow: 0px 4px 9px 2px rgb(192 200 210 / 30%);
    -webkit-box-shadow: 0px 4px 9px 2px rgb(192 200 210 / 30%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0.5rem auto;
}

a {
    color: #2D3954;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.cljb-emp-thumg img {
    max-width: 55px;
}

.cljb-emp-detail {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
}

.ultimate-center .cljb-emp-detail h5 {
    margin: 0;
    font-size: 18px;
}

.cljb-emp-detail span {
    font-size: 13px;
    color: #8d99b9;
    font-weight: 600;
}

.ultimate-center.classic-joblist .job-title {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    padding-top: 1.5rem;
}

.cl-job-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.ultimate-center .cl-jb-loaction {
    flex: 1;
}

.cl-jb-loaction {
    font-size: 15px;
    color: #8d99b9;
    font-weight: 600;
}

.cl-jb-loaction i {
    margin-right: 5px;
}

.cl-jb-type.full-time {
    background: rgba(0, 169, 79, 0.1);
    color: #00a94f;
}

.cl-jb-type {
    margin-left: 1rem;
    padding: 4px 12px;
    background: rgba(216, 26, 26, 0.1);
    color: #d81a1a;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
}

[class*=" ti-"],
[class^=ti-] {
    font-family: themify;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pagination {
   justify-content: center;
    padding-left: 0;
    border-radius: 4px;
    margin: 30px auto 0 !important;
}

.green-skin .page-item.active .page-link{
    border-color: #00a94f;
    background-color: #00a94f;
}
@media (min-width: 768px) {

    form.search-big-form.search-shadow .form-group,
    form.search-form.search-shadow .form-group {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .breadcrumbs {
        margin-top: 0px;
    }
}
</style>
