<template>
  <router-view></router-view>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";

Vue.component("v-select", vSelect);
import VueProgressBar from "vue-progressbar";
import VueResource from "vue-resource";

import VueLocalStorage from "vue-localstorage";
import Toast from "vue-toastification";
// Import the CSS or use your own!
import "vue-toastification/dist/index.css";

import CommonService from "./services/common";
import moment from "moment";
import VeeValidate from "vee-validate";
  import DatePicker from 'vue2-datepicker';

import "./utilities/veeValidate";
import NProgress from "nprogress";
import "nprogress/nprogress.css";

import "@progress/kendo-ui";
import "@progress/kendo-theme-default/dist/all.css";
import {
  KendoDatePicker,
  KendoDateinputsInstaller,
  KendoCalendar,
} from "@progress/kendo-dateinputs-vue-wrapper";
import {
  KendoGrid,
  KendoGridInstaller,
} from "@progress/kendo-grid-vue-wrapper";
import {
  KendoDropDownList,
  KendoDropdownsInstaller,
} from "@progress/kendo-dropdowns-vue-wrapper";
import {
  KendoSwitch,
  KendoInputsInstaller,
} from "@progress/kendo-inputs-vue-wrapper";

  import "./utilities/filter";

Vue.use(KendoDropdownsInstaller);
Vue.use(KendoGridInstaller);
Vue.use(KendoInputsInstaller);


Vue.use(DatePicker); 
Vue.use(KendoDateinputsInstaller);
Vue.component(KendoCalendar.name, KendoCalendar);
Vue.component(KendoGrid.name, KendoGrid);
 
 

Vue.use(Toast, {
  position: "top-right",
  timeout: 3000,
  closeOnClick: true,
  pauseOnFocusLoss: true,
  pauseOnHover: true,
  draggable: true,
  draggablePercent: 0.6,
  showCloseButtonOnHover: false,
  hideProgressBar: true,
  closeButton: "button",
  icon: true,
  rtl: false
});

// Vue.use(VueToastr, {
//   defaultPosition: "toast-top-right",
//   defaultType: "info",
//   defaultTimeout: 3000,
// });

Vue.use(VueLocalStorage);
Vue.use(VueResource);

Vue.use(NProgress);

Vue.http.interceptor.before = function (request, next) {
  if (request.url.indexOf("account/login") === -1) {
    request.headers.set("Authorization", CommonService.getAuthToken());
  }
  request.url = CommonService.getBaseUrl(request.url);
  next();
};

Vue.http.interceptors.push(function (request, next) {
  NProgress.start();
  next(function (response) {
    if (!response.ok) {
      CommonService.handleRejection(response);
      NProgress.done();
    } else {
      NProgress.done();
    }
  });
});

export default {
  name: "app",
  components: {
    KendoCalendar,
    KendoGrid,
    KendoDropDownList,
    KendoDatePicker,
  },
};
</script>
 

<style lang="scss">
// CoreUI Icons Set
// @import '~@coreui/icons/css/coreui-icons.min.css';

// Import Main styles for this application
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";
@import "assets/scss/style";
@import '~vue2-datepicker/scss/index.scss';
@import "vue-select/src/scss/vue-select.scss";
</style>


