<template>
<div class="c-app flex-row align-items-center">
    <CContainer>
        <CRow class="justify-content-center">
            <CCol md="8">
                <CCardGroup>
                    <CCard class="p-4">
                        <CCardBody>
                            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input autocomplete="off" v-model="vModel.UserName" v-validate="'required|email'" :class="{
                          input: true,
                          'is-danger': errors.has('username'),
                        }" type="email" class="form-control" placeholder="Username" name="username" />
                                    </div>
                                    <div v-show="errors.has('username')" class="help is-danger">
                                        {{ errors.first("username") }}
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input autocomplete="off" v-model="vModel.Password" name="Password" v-validate="'required'" :class="{
                          input: true,
                          'is-danger': errors.has('Password'),
                        }" type="password" class="form-control" placeholder="Password" />
                                    </div>
                                    <div v-show="errors.has('Password')" class="help is-danger">
                                        {{ errors.first("Password") }}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="text-left col-6"><button type="submit" class="btn px-4 btn-primary">Login</button></div>
                                    <div class="text-right col-6">
                                      <!-- <button type="button" class="btn px-0 btn-link">Forgot password?</button> -->
                                    <button type="button" class="btn d-lg-none btn-link" @click="$router.push('register')">Register now!</button></div>
                                </div>
                               
                                
                            </form>
                        </CCardBody>
                    </CCard>
                    <CCard color="primary" text-color="white" class="text-center py-5 d-md-down-none" body-wrapper>
                        <CCardBody>
                            <h2>Sign up</h2>
                            <p>
                                Sign up as Student
                            </p>
                            <CButton color="light" variant="outline" size="lg" to="/register">>
                                Register Now!
                            </CButton>
                        </CCardBody>
                    </CCard>
                </CCardGroup>
            </CCol>
        </CRow>
    </CContainer>
</div>
</template>

<script>
import CommonService from "../../services/common";
export default {
    name: "Login",
    data() {
        return {
            vModel: {
                UserName: "",
                Password: "",
            },
        };
    },
    created() {
        this.$localStorage.remove("token");
    },
    methods: {
        onSubmit() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.$http.post("account/login", this.vModel).then(
                        (response) => {
                            if (response.status == 200) {
                                var result = response.body.Content;
                                this.$localStorage.set("token", result.AccessToken);
                                this.$localStorage.set(
                                    "userinfo",
                                    JSON.stringify(result.LoginInfo)
                                );

                                this.$localStorage.set(
                                    "userpages",
                                    JSON.stringify(result.UserPages)
                                );
                                setTimeout(() => {
                                    this.$router.push("/dashboard");
                                }, 100);
                            } else
                                this.$toast.error("Invalid Username or password");
                        },

                        (errors) => {}
                    );
                }
            });
        },
    },
};
</script>
