<template>
  <div class="c-app flex-row align-items-center signup-page">
    <CContainer>
 

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic text-muted mb-0">Sign up as student.</p>
       
                <u>Jeuls</u></a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
             <form @submit.prevent="onSubmit" novalidate="" autocomplete="off">
                <div class="row">
                      <div class="col-md-6 mb-3">
                      <CInput
                          placeholder="First Name"
                          autocomplete="offF"
                          v-model="vModel.FirstName"
                          v-validate="'required'" 
                          :class="{ input: true, 'is-danger mb-0': errors.has('FirstName') }"
                          type="text"
                          name="FirstName"
                        >
                          <template #prepend-content><CIcon name="cil-user"/></template>
                        </CInput>
                          <div v-show="errors.has('FirstName')" class="help is-danger">
                            {{ errors.first("FirstName") }}
                          </div>
                      </div>

                  

                    <!-- Last Name -->
                    <div class="col-md-6 mb-3">
                      <CInput
                          placeholder="Last Name"
                          autocomplete="offF"
                          v-model="vModel.LastName"
                          v-validate="'required'" 
                          :class="{ input: true, 'is-danger mb-0': errors.has('LastName') }"
                          type="text"
                          name="LastName"
                        >
                          <template #prepend-content><CIcon name="cil-user"/></template>
                        </CInput>
                          <div v-show="errors.has('LastName')" class="help is-danger">
                            {{ errors.first("LastName") }}
                          </div>
                      </div>
                

                    <!-- Email Address -->

                      <div class="col-md-12 mb-3">
                        <CInput
                          placeholder="Email Address"
                          autocomplete="off"
                          v-model="vModel.Email"
                          v-validate="'required|email'"
                          :class="{ input: true, 'is-danger mb-0': errors.has('Email') }"
                          type="text"
                          name="Email"
                        >
                          <template #prepend-content><CIcon name="cil-envelope-closed"/></template>
                        </CInput>
                          <div v-show="errors.has('Email')" class="help is-danger">
                            {{ errors.first("Email") }}
                          </div>
                      </div>
 

                    <!-- Phone Number -->
                    
                      <div class="col-md-12 mb-3">
                        <CInput
                          placeholder="Phone Number"
                          autocomplete="off"
                          v-model="vModel.PhoneNumber"
                          v-validate="'required'"
                          :class="{ input: true, 'is-danger mb-0': errors.has('PhoneNumber') }"
                          type="text"
                          name="PhoneNumber"
                        >
                          <template #prepend-content><i class="fa fa-phone" aria-hidden="true"></i></template>
                        </CInput>
                          <div v-show="errors.has('PhoneNumber')" class="help is-danger">
                            {{ errors.first("PhoneNumber") }}
                          </div>
                      </div>
                    

 

                    <!-- Password -->
                      <div class="col-md-12 mb-3">
                        <CInput
                        ref="Password"
                          placeholder="Password"
                          autocomplete="off"
                          v-model="vModel.Password"
                          v-validate="{required : true, validatePassword : true}" 
                          :class="{ input: true, 'is-danger mb-0': errors.has('Password') }"
                          type="password"
                          name="Password"
                        >
                          <template #prepend-content><i class="fa fa-lock" aria-hidden="true"></i></template>
                        </CInput>
                          <div v-show="errors.has('Password')" class="help is-danger">
                            {{ errors.first("Password") }}
                          </div>
                      </div>

  

                    <!-- Password Confirmation -->
                      <div class="col-md-12 mb-3">
                        <CInput
                          placeholder="Confirm Password"
                          autocomplete="off"
                          v-model="vModel.ConfirmPassword"
                          v-validate="'required|confirmed:Password'"
                          :class="{ input: true, 'is-danger mb-0': errors.has('ConfirmPassword') }"
                          type="password"
                          name="ConfirmPassword"
                        >
                          <template #prepend-content><i class="fa fa-lock" aria-hidden="true"></i></template>
                        </CInput>
                          <div v-show="errors.has('ConfirmPassword')" class="help is-danger">
                            {{ errors.first("ConfirmPassword") }}
                          </div>
                      </div>
                 
                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                       <button type="submit" class="btn btn-primary btn-block py-2">      <span class="font-weight-bold">Create your account</span></button>
 
                    </div>

                   

                    <!-- Already Registered -->
                    <div class="text-center w-100 mt-3">
                        <p class="text-muted font-weight-bold">Already Registered? <router-link  href="" to="/login" class="text-primary ml-2">Login</router-link></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
    </CContainer>
  </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";

import CommonService from "../../services/common";
export default {
  name: "StudentRegister",
  extends: Base,
  components: {
    Action,
    Mode,
  },

  created() {
    this.url.register = "student";
  },

  data: function () {
    return {
      vModel: {
        FirstName: "",
        LastName: "",
        Email: "",
        Password: "",
        ConfirmPassword: "",
        PhoneNumber: "",
      },
    };
  },

  methods: {
    onSubmit() {
      var self = this;
      var url = self.url.register;
      self.$validator.validateAll().then((result) => {
        if (result && this.beforeSave()) {
          this.$http.post(url, self.vModel).then(
            (response) => { 
              this.$toast.success(response.data.Message || "Success");
              this.$router.push('login');
            },
            (errors) => {
              this.isDataprocessing = false;
               this.$toast.errors(errors || "Error");
            }
          );
        }
      });
    },
  },
};
</script>
<style>
.signup-page {
  background: #fcfcfc !important;
}
.form-control:focus {
  box-shadow: none;
}
</style>
