<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="5">
     <CCardGroup>
            <CCard no-body class="p-4">
              <CCardBody>
                <form @submit.prevent="resetPassword" novalidate autocomplete="off">
                  <h1>Reset Password</h1>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Password</label>
                        <input
                          ref="Password"
                          autocomplete="off"
                          name="password"
                          v-model="vModel.Password"
                          v-validate="{required : true, validatePassword : true}" 
                          :class="{'input': true, 'is-danger': errors.has('password') }"
                          type="password"
                          class="form-control"
                          placeholder="Enter Password"
                        />
                          <div
                        v-show="errors.has('password')"
                        class="help is-danger"
                      >{{ errors.first('password') }}</div>
                      </div>
                    
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input
                          autocomplete="off"
                          name="ConfirmPassword"
                          v-model="vModel.ConfirmPassword"
                          v-validate="'required|confirmed:Password'"
                          :class="{'input': true, 'is-danger': errors.has('ConfirmPassword') }"
                          type="password"
                          class="form-control"
                          placeholder="Enter Confirm Password"
                          data-vv-as="Confirm Password"
                        />
                     
                      <div
                        v-show="errors.has('ConfirmPassword')"
                        class="help is-danger"
                      >{{ errors.first('ConfirmPassword') }}</div>
                    </div>
                     </div>
                  </div>
                  <CRow>
                    <CCol cols="6">
                      <button type="submit" class="btn btn-primary px-4">Submit</button>
                    </CCol>
                  </CRow>
                </form>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
  </CContainer>
  </div>
</template>
<script>
export default {
  name: "login",
  components: {},

  data() {
    return {
      vModel: {
        Code: null,
        UserId: null,
        Password: null,
        ConfirmPassword: null
      }
    };
  },
  beforeRouteEnter(to, from, next) {
    next(p => {
      p.vModel.Code = p.$route.query.code
      p.vModel.UserId = p.$route.query.userId
    });
  },
  methods: {

    resetPassword() {
      this.$validator.validateAll().then(result => {
        if (result) {
          var model = {
            UserId: this.vModel.UserId,
            Code: this.vModel.Code,
            Password: this.vModel.Password
          };

          this.$http.post("account/resetpassword", model).then(
            response => {
              this.$toast.success("Password reset successfully.");

              setTimeout(() => {
               this.$router.push("/login");
              }, 500);
            },
            response => {}
          );
        }
      });
    }
  }
};
</script>
